ServiceDeskForm/__pycache__
ServiceDeskForm/servicedesk.ipynb
venv
ServiceDeskForm/application/__pycache__
ServiceDeskForm/application/views/__pycache__
ServiceDeskForm/application/views/servicedesk/__pycache__
ServiceDeskForm/application/templates/mdb/alerts
ServiceDeskForm/application/templates/mdb/calendar
ServiceDeskForm/application/templates/mdb/charts
ServiceDeskForm/application/templates/mdb/components
ServiceDeskForm/application/templates/mdb/css
ServiceDeskForm/application/templates/mdb/dashboards
ServiceDeskForm/application/templates/mdb/forms
ServiceDeskForm/application/templates/mdb/maps
ServiceDeskForm/application/templates/mdb/modals
ServiceDeskForm/application/templates/mdb/pages
ServiceDeskForm/application/templates/mdb/profile
ServiceDeskForm/application/templates/mdb/sections
ServiceDeskForm/application/templates/mdb/tables