{% extends 'mdb/base_mdb.html' %}
{% block title %}
<title>Yêu cầu mở Firewall</title>
{% endblock %}

{% block sidebar_navigation_link %}
<!-- Side navigation links -->
<li>
  <ul class="collapsible collapsible-accordion" id="sidebar_body">
    <li>
      <!-- <a class="collapsible-header waves-effect"
        href="#"
        id="#" name="#">
      </a> -->
    </li>
  </ul>
</li>
<!-- Side navigation links -->
{% endblock %}
{%block page_body_title%}Yêu cầu tạo chính sách Firewall
{%endblock%}
{% block dataview %}
<!-- Main layout -->
<main class="ml-4 mr-4">
  <div class="container-fluid">
    <!-- Section: Main panel -->
    <section class="mb-5">
      <!-- Card -->
      <div class="card card-cascade narrower">
        <!-- Section: Firewall Rule -->
        <section>
          <div class="card card-cascade narrower z-depth-0">
            <!-- Card Header -->
            <div
              class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
              <a href="" class="white-text mx-3">Form nhập thông tin cấu hình chính sách Firewall</a>
              <div>
                {% if error is not defined%}
                {%if approval_status is defined%}
                {%if approval_status.code == 1 and approval_status.message is none %}
                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"
                  id="btn-open-modal-{{requestid}}" data-requestid="{{requestid}}" onclick="open_modal(this)">Gửi phê
                  duyệt</button>
                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"
                  data-requestid="{{requestid}}" onclick="AddForm(this)">Thêm
                  mới</button>
                {% endif %}
                {% endif %}
                {% endif %}
              </div>
            </div>
            <!-- Card Header -->
            <!-- Card Content -->
            <div class="px-4">
              <input type="hidden" name="requestid" id="requestid" value="{{requestid}}">
              <div class="alert alert-warning alert-dismissible fade show" role="alert" id="tbl_alert" hidden>
                <div id="alert_content"></div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="d-flex p-2 justify-content-end">
                {% if error is defined%}
                <div class="alert alert-warning" role="alert">
                  {{error}}
                </div>
                {% endif %}
                {% if approval_status is defined %}
                <div class="py-1 px-2">
                  Trạng thái phê duyệt:
                </div>
                {% if approval_status.code == 1 %}
                <!-- reject -->
                {% if approval_status.message.id == "3" %}
                <div class=" px-2 py-1 danger-color text-white rounded">
                  {{approval_status.message.name}}
                </div>
                <!-- approved -->
                {% elif approval_status.message.id == "2" %}
                <div class=" px-2 py-1 success-color text-white rounded">
                  {{approval_status.message.name}}
                </div>
                <!-- pending approval -->
                {% elif approval_status.message.id == "1" %}
                <div class=" px-2 py-1 info-color text-white rounded">
                  {{approval_status.message.name}}
                </div>
                <!-- not yet submit for approval -->
                {% else%}
                <div class=" px-2 py-1 rounded">
                  Chưa tạo phê duyệt
                </div>
                {% endif %}
                {%else%}
                <div class="border border-black">
                  {{approval_status.message}}
                </div>
                {% endif %}
                {% endif %}
              </div>

              <div class="table-responsive">
                <!--Table-->
                <table class="table table-hover mb-0" id="tbl_firewall_rule">
                  <!-- Table head -->
                  <thead>
                    <tr>
                      <th style="width: 5rem;">STT <i class="fas fa-sort ml-1"></i></a></th>
                      <th>Tên</th>
                      <th>Địa chỉ nguồn</th>
                      <th>Địa chỉ đích</th>
                      <th>Cổng kết nối</th>
                      <th>Mô tả</th>
                      <th style="width: 15rem;">Thao tác</th>
                    </tr>
                  </thead>
                  <!-- Table head -->
                  <!-- Table body -->
                  <tbody id="tbl_body">
                    <!-- <div id="form-array"> -->
                    {% if request_data|length > 0 and request_data is defined %}
                    <!-- Trường hợp 1 - có sẵn dữ liệu -->
                    {% for rule in request_data %}
                    <tr id="row-{{rule.id}}">
                      <!-- <form id="row-{{rule.id}}"> -->
                      <input type="hidden" name="{{rule.id}}" id="{{rule.id}}" value="{{rule.id}}">
                      <td>
                        <span class="me-2 p-1" id="span-{{rule.id}}" data-ruleid="{{rule.id}}"
                          data-requestid="{{requestid}}"></span>
                      </td>
                      <td>
                        <span id="span-name-{{rule.id}}" class="data-view" data-ruleid="{{rule.id}}"
                          data-requestid="{{requestid}}">{{rule.name}}</span>
                        <input type="text" class="form-control form-control-sm data-edit" value="{{rule.name}}"
                          id="name-{{rule.id}}" data-ruleid="{{rule.id}}" data-requestid="{{requestid}}" required
                          disabled hidden>
                      </td>
                      <!-- Hiển thị địa chỉ IP nguồn -->
                      <td>
                        <div id="source-array-{{rule.id}}">
                          {% for element in rule.source %}
                          <div class="input-group">
                            <span class="data-view">{{ element.source|e }}</span>
                          </div>

                          <div class="input-group data-edit" id="input-group-source-{{rule.id}}-{{element.id}}"
                            data-ruleid="{{rule.id}}" data-requestid="{{requestid}}" data-objectid="{{element.id}}">
                            <input type="text" class="form-control form-control-sm data-edit" aria-label=""
                              aria-describedby="btn-remove-source-{{rule.id}}-{{element.id}}"
                              value="{{ element.source|e }}" id="input-source-{{rule.id}}-{{element.id}}"
                              data-ruleid="{{rule.id}}" data-requestid="{{requestid}}" data-objectid="{{element.id}}"
                              required disabled hidden>
                            <div class="input-group-append data-edit" hidden>
                              <button
                                class="btn btn-sm btn-md btn-outline-default m-0 px-2 py-1 z-depth-0 waves-effect data-edit"
                                type="button" id="btn-remove-source-{{rule.id}}-{{element.id}}"
                                data-ruleid="{{rule.id}}" data-requestid="{{requestid}}" data-objectid="{{element.id}}"
                                onclick="RemoveObjectRow(this,objectType='source',removedb=true)" disabled
                                hidden>X</button>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                      </td>
                      <!-- Hiển thị địa chỉ IP nguồn -->
                      <!-- Hiển thị địa chỉ IP đích -->
                      <td>
                        <div id="destination-array-{{rule.id}}">
                          {% for element in rule.destination %}
                          <div class="input-group">
                            <span class="data-view">
                              {{ element.destination|e }}
                            </span>
                          </div>
                          <div class="input-group data-edit" id="input-group-destination-{{rule.id}}-{{element.id}}"
                            data-ruleid="{{rule.id}}" data-requestid="{{requestid}}" data-objectid="{{element.id}}"
                            hidden>
                            <input type="text" class="form-control form-control-sm data-edit" aria-label=""
                              aria-describedby="btn-remove-destination-{{rule.id}}-{{element.id}}"
                              value="{{ element.destination|e }}" id="input-destination-{{rule.id}}-{{element.id}}"
                              data-ruleid="{{rule.id}}" data-requestid="{{requestid}}" data-objectid="{{element.id}}"
                              required disabled hidden>
                            <div class="input-group-append data-edit" hidden>
                              <button
                                class="btn btn-sm btn-md btn-outline-default m-0 px-2 py-1 z-depth-0 waves-effect data-edit"
                                type="button" id="btn-remove-destination-{{rule.id}}-{{element.id}}"
                                data-ruleid="{{rule.id}}" data-requestid="{{requestid}}" data-objectid="{{element.id}}"
                                onclick="RemoveObjectRow(this,objectType='destination',removedb=true)" disabled
                                hidden>X</button>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                      </td>
                      <!-- Hiển thị địa chỉ IP đích -->
                      <!-- Hiển thị cổng -->
                      <td>
                        <div id="service-array-{{rule.id}}">
                          {% for element in rule.service %}
                          <div class="input-group data-view">
                            <span class="pr-1">{{ element.port|e }}</span>/<span class="pl-1">{{element.protocol}}</span>
                          </div>
                          <div class="input-group data-edit" id="input-group-service-{{rule.id}}-{{element.id}}"
                            data-ruleid="{{rule.id}}" data-requestid="{{requestid}}" data-objectid="{{element.id}}"
                            hidden>
                            <input type="text" class="form-control form-control-sm data-edit" aria-label=""
                              aria-describedby="btn-remove-service-{{rule.id}}-{{element.id}}"
                              value="{{ element.port|e }}" id="input-service-{{rule.id}}-{{element.id}}"
                              data-ruleid="{{rule.id}}" data-requestid="{{requestid}}" data-objectid="{{element.id}}"
                              required disabled hidden>
                            <select class="browser-default custom-select custom-select-sm data-edit"
                              id="slt-protocol-{{rule.id}}-{{element.id}}" data-ruleid="{{rule.id}}"
                              data-requestid="{{requestid}}" data-objectid="{{element.id}}" disabled hidden>
                              <option {%if element.protocol == "TCP" %}selected{%endif%} value="TCP">TCP</option>
                              <option {%if element.protocol == "UDP" %}selected{%endif%} value="UDP">UDP</option>
                              <option {%if element.protocol == "ICMP" %}selected{%endif%} value="ICMP" disabled>ICMP</option>
                            </select>
                            <div class="input-group-append data-edit">
                              <button
                                class="btn btn-sm btn-md btn-outline-default m-0 px-2 py-1 z-depth-0 waves-effect data-edit"
                                type="button" id="btn-remove-service-{{rule.id}}-{{element.id}}"
                                data-ruleid="{{rule.id}}" data-requestid="{{requestid}}" data-objectid="{{element.id}}"
                                onclick="RemoveObjectRow(this,objectType='service',removedb=true)" disabled
                                hidden>X</button>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                      </td>
                      <!-- Hiển thị cổng -->
                      <!-- Mô tả rule -->
                      <td>
                        <span class="data-view" id="span-description-{{rule.id}}">
                          {{rule.description}}
                        </span>
                        <textarea class="form-control form-control-sm data-edit" id="description-{{rule.id}}"
                          data-ruleid="{{rule.id}}" data-requestid="{{requestid}}" disabled
                          hidden>{{rule.description}}</textarea>
                      </td>
                      <!-- Mô tả rule -->
                      <!-- Chức năng -->
                      <td>
                        {%if approval_status is defined%}
                        {%if approval_status.code == 1 and approval_status.message is none %}
                        <!-- button update -->
                        <button type="button"
                          class="btn btn-outline-primary btn-sm waves-effect waves-light mt-0 data-edit"
                          id="btn-update-rule-{{rule.id}}" data-ruleid="{{rule.id}}" data-requestid="{{requestid}}"
                          onclick="UpdateRule(this)" disabled hidden>
                          Lưu
                        </button>
                        <!-- button udpate -->
                        <!-- button edit -->
                        <button type="button"
                          class="btn btn-outline-warning btn-sm waves-effect waves-light mt-0 data-view"
                          id="btn-edit-rule-{{rule.id}}" data-ruleid="{{rule.id}}" data-requestid="{{requestid}}"
                          onclick="EditRule(this)">
                          Sửa
                        </button>
                        <!-- button edit -->
                        <!-- button save -->
                        <button type="button" class="btn btn-outline-primary btn-sm waves-effect waves-light mt-0"
                          id="btn-save-rule-{{rule.id}}" data-ruleid="{{rule.id}}" data-requestid="{{requestid}}"
                          onclick="SaveRule(this)" disabled hidden>
                          Lưu
                        </button>
                        <!-- button save -->
                        <!-- button remove -->
                        <button type="button" class="btn btn-outline-danger btn-sm waves-effect waves-light mt-0"
                          id="btn-remove-rule-{{rule.id}}" data-ruleid="{{rule.id}}" data-requestid="{{requestid}}"
                          onclick="RemoveObjectRow(this,objectType='rule',removedb = true)">
                          Xóa
                        </button>
                        <!-- button remove -->
                        {% endif %}
                        {% endif %}

                      </td>
                      <!-- Chức năng -->
                      <!-- </form> -->
                    </tr>
                    {% endfor %}
                    {% endif %}
                    <!-- Trường hợp 1 - có sẵn dữ liệu -->
                    {% if error is not defined and request_data|length <=0 %} <!-- Trường hợp 2 - không có dữ liệu -->
                      <tr id="row-{{timestamp}}">
                        <!-- <form id="row-{{timestamp}}" class="needs-validation" novalidate> -->
                        <!-- Index Column -->
                        <td>
                          <span class="me-2 p-1" id="span-{{timestamp}}">1</span>
                        </td>
                        <!-- Index Column -->
                        <!-- Name Column -->
                        <td>
                          <div class="input-group">
                            <input type="text" class="form-control form-control-sm data-edit" placeholder="Tên rule"
                              id="name-{{timestamp}}" required>
                          </div>
                        </td>
                        <!-- Name Column -->
                        <!-- Source column -->
                        <td>
                          <div id="source-array-{{timestamp}}">
                            <div class="input-group" id="input-group-source-{{timestamp}}-0">
                              <input type="text" class="form-control form-control-sm data-edit"
                                placeholder="Địa chỉ nguồn" id="input-source-{{timestamp}}-0"
                                data-ruleid="{{timestamp}}" data-requestid="{{requestid}}" data-objectid="0" required>
                              <div class="input-group-append">
                                <button
                                  class="btn btn-sm btn-md btn-outline-default m-0 px-2 py-1 z-depth-0 waves-effect"
                                  type="button" id="btn-remove-source-{{timestamp}}-0" data-ruleid="{{timestamp}}"
                                  data-requestid="{{requestid}}" data-objectid="0"
                                  onclick="RemoveObjectRow(this,objectType='source',removedb=false)">X
                                </button>
                              </div>
                            </div>
                          </div>
                          <!-- Add source -->
                          <div class="d-grid">
                            <button class="btn btn-sm" type="button" id="button-add-source-{{timestamp}}"
                              data-ruleid="{{timestamp}}" data-requestid="{{requestid}}"
                              onclick="AddObjectRow(this,objectType='source')">
                              Thêm
                            </button>
                          </div>
                        </td>
                        <!-- Source column -->
                        <!-- Destination column -->
                        <td>
                          <div id="destination-array-{{timestamp}}">
                            <div class="input-group" id="input-group-destination-{{timestamp}}-0">
                              <input type="text" class="form-control form-control-sm data-edit"
                                placeholder="Địa chỉ đích" data-ruleid="{{timestamp}}" data-requestid="{{requestid}}"
                                data-objectid="0" id="input-destination-{{timestamp}}-0" required>
                              <div class="input-group-append">
                                <button
                                  class="btn btn-sm btn-md btn-outline-default m-0 px-2 py-1 z-depth-0 waves-effect"
                                  type="button" id="btn-remove-destination-{{timestamp}}-0" data-ruleid="{{timestamp}}"
                                  data-requestid="{{requestid}}" data-objectid="0"
                                  onclick="RemoveObjectRow(this,objectType='destination',removedb=false)">
                                  X
                                </button>
                              </div>
                            </div>
                          </div>
                          <!-- Button Add Destination -->
                          <div class="d-grid">
                            <button class="btn btn-sm" type="button" id="button-add-destination-{{timestamp}}"
                              data-ruleid="{{timestamp}}" data-requestid="{{requestid}}"
                              onclick="AddObjectRow(this,objectType='destination')">
                              Thêm
                            </button>
                          </div>
                        </td>
                        <!-- Destination Column -->
                        <!-- Service Column -->
                        <td>
                          <div id="service-array-{{timestamp}}">
                            <div class="input-group" id="input-group-service-{{timestamp}}-0">
                              <input type="text" class="form-control form-control-sm data-edit" placeholder="Cổng"
                                id="input-service-{{timestamp}}-0" data-ruleid="{{timestamp}}"
                                data-requestid="{{requestid}}" data-objectid="0" required>
                              <select class="browser-default custom-select custom-select-sm data-edit"
                                id="slt-protocol-{{timestamp}}-0" data-ruleid="{{timestamp}}"
                                data-requestid="{{requestid}}" data-objectid="0">
                                <option selected>Giao thức</option>
                                <option value="TCP">TCP</option>
                                <option value="UDP">UDP</option>
                                <option value="ICMP" disabled>ICMP</option>
                              </select>
                              <div class="input-group-append">
                                <button
                                  class="btn btn-sm btn-md btn-outline-default m-0 px-2 py-1 z-depth-0 waves-effect"
                                  type="button" id="btn-remove-service-{{timestamp}}-0" data-ruleid="{{timestamp}}"
                                  data-requestid="{{requestid}}" data-objectid="0"
                                  onclick="RemoveObjectRow(this,objectType='service',removedb=false)">
                                  X
                                </button>
                              </div>
                            </div>
                          </div>
                          <!-- Button add Service -->
                          <div class="d-grid">
                            <button class="btn btn-sm" type="button" id="button-add-service-{{timestamp}}"
                              data-ruleid="{{timestamp}}" data-requestid="{{requestid}}"
                              onclick="AddObjectRow(this,objectType='service')">
                              Thêm
                            </button>
                          </div>
                        </td>
                        <!-- Service Column -->
                        <!-- Description Column -->
                        <td>
                          <textarea class="form-control form-control-sm data-edit" placeholder="Mô tả"
                            id="description-{{timestamp}}"></textarea>
                        </td>
                        <!-- Description Column -->
                        <!-- Functional Column -->
                        <td>
                          {%if approval_status is defined%}
                          {%if approval_status.code == 1 and approval_status.message is none %}
                          <!-- button save -->
                          <button type="button" class="btn btn-outline-primary btn-sm waves-effect waves-light mt-0"
                            id="btn-save-rule-{{timestamp}}" data-ruleid="{{timestamp}}" data-requestid="{{requestid}}"
                            onclick="SaveRule(this)">
                            Lưu
                          </button>
                          <!-- button remove -->
                          <button type="button" class="btn btn-outline-danger btn-sm waves-effect waves-light mt-0"
                            id="btn-remove-rule-{{timestamp}}" data-ruleid="{{timestamp}}"
                            data-requestid="{{requestid}}"
                            onclick="RemoveObjectRow(this,objectType='rule',removedb=false)">
                            Xóa
                          </button>
                          {% endif %}
                          {% endif %}

                        </td>
                        <!-- Functional Column -->
                        <!-- </form> -->
                      </tr>
                      {% endif %}
                      <!-- Trường hợp 2 - không có dữ liệu -->
                      <!-- </div> -->
                  </tbody>
                  <!-- Table body -->
                </table>
                <!-- Table -->
              </div>
              <!-- Card Content -->
            </div>
            <!-- Card Content -->
        </section>
        <!--Section: Firewall Rule-->
      </div>
      <!-- Card -->
    </section>
    <!-- Section: Main panel -->
  </div>
</main>
<!-- Main layout -->


<!-- Central Modal Small -->
<div class="modal fade" id="md_submit_for_approval_{{requestid}}" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">

  <!-- Change class .modal-sm to change the size of the modal -->
  <div class="modal-dialog modal-xm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Submit for Approval</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning alert-dismissible fade show" role="alert" id="md_alert" hidden>
          <div id="md_alert_content"></div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Default form contact -->
        <label for="md-slt-approver-{{requestid}}">
          Chọn người phê duyệt
        </label>

        <select class="form-control form-control-sm mb-4" id="md-slt-approver-{{requestid}}"
          data-requestid="{{requestid}}">
          <optgroup label="Phòng Vận Hành">
            <option value="chaunt@cpc.vn">Nguyễn Thanh Châu</option>
            <option value="dunghx@cpc.vn">Hoàng Xuân Dũng</option>
            <option value="locn@cpc.vn">Nguyễn Lộc</option>
          </optgroup>
          <optgroup label="Phòng Phần Mềm">
            <option value="thongv@cpc.vn">Vương Thông</option>
            <option value="nhatnm@cpc.vn">Nguyễn Minh Nhật</option>
          </optgroup>
          <optgroup label="Phòng An Toàn Thông Tin">
            <option value="truongdx@cpc.vn">Đinh Xuân Trưởng</option>
          </optgroup>
          <optgroup label="Phòng Phát Triển Ứng Dụng">
            <option value="vantri@cpc.vn">Phan Văn Trí</option>
            <option value="thangltm@cpc.vn">Nguyễn Minh Thắng</option>
          </optgroup>
          <optgroup label="Phòng Kỹ thuật và Mạng viễn thông">
            <!-- <option value="tuanpa2@cpc.vn">Phan Anh Tuấn</option> -->
            <option value="tungttt@cpc.vn">Tôn Thất Thanh Tùng</option>
            <option value="dangdh@cpc.vn">Đoàn Hải Đăng</option>
            <option value="haitn@cpc.vn">Trương Ngọc Hải</option>
          </optgroup>
          <optgroup label="Ban Giám Đốc">
            <option value="tuantk@cpc.vn">Trần Khắc Tuấn</option>
            <option value="binhns@cpc.vn">Nguyễn Sơn Bình</option>
          </optgroup>
        </select>
        <!-- Message -->
        <div class="form-group">
          <textarea class="form-control rounded-0" id="md-textarea-message-{{requestid}}" data-requestid="{{requestid}}"
            rows="3" placeholder="Lời nhắn cho người phê duyệt"></textarea>
        </div>
        <!-- Default form contact -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary btn-sm" id="md-btn-submitforapproval-{{requestid}}"
          data-requestid="{{requestid}}" onclick="submit_for_approval(this)">Submit</button>
      </div>
    </div>
  </div>
</div>
<!-- Central Modal Small -->

{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename = 'js/servicedesk_firewall.js')}}"></script>

{% endblock %}