{% extends 'mdb/base_mdb.html' %}
{% block title %}
<title>Yêu cầu mở Firewall</title>
{% endblock %}

{% block sidebar_navigation_link %}
<!-- Side navigation links -->
<li>
  <ul class="collapsible collapsible-accordion" id="sidebar_body">
    <li>
      <!-- <a class="collapsible-header waves-effect"
        href="#"
        id="#" name="#">
      </a> -->
    </li>
  </ul>
</li>
<!-- Side navigation links -->
{% endblock %}
{%block page_body_title%}Yêu cầu tạo chính sách Firewall{%endblock%}
{% block dataview %}
<!-- Main layout -->
<main class="ml-4 mr-4">
  <div class="container-fluid">
    <!-- Section: Main panel -->
    <section class="mb-5">
      <!-- Card -->
      <div class="card card-cascade narrower">
        <!-- Section: Firewall Rule -->
        <section>
          <div class="card card-cascade narrower z-depth-0">
            <!-- Card Header -->
            <div
              class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
              <a href="" class="white-text mx-3">Form nhập thông tin cấu hình chính sách Firewall</a>
              <div>
                {% if error is not defined%}
                {%if approval_status is defined%}
                {%if approval_status.code == 1 and approval_status.message is none %}
                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"
                  id="btn-open-modal-{{requestid}}" data-requestid="{{requestid}}" onclick="open_modal(this)">Gửi phê
                  duyệt</button>
                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" onclick="AddForm()">Thêm
                  mới</button>
                {% endif %}
                {% endif %}
                {% endif %}
              </div>
            </div>
            <!-- Card Header -->
            <!-- Card Content -->
            <div class="px-4">
              <input type="hidden" name="requestid" id="requestid" value="{{requestid}}">
              <div class="alert alert-warning alert-dismissible fade show" role="alert" id="tbl_alert" hidden>
                <div id="alert_content"></div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="d-flex p-2 justify-content-end">
                {% if error is defined%}
                <div class="alert alert-warning" role="alert">
                  {{error}}
                </div>
                {% endif %}
                {% if approval_status is defined %}
                <div class="py-1 px-2">
                  Trạng thái phê duyệt:
                </div>
                {% if approval_status.code == 1 %}
                <!-- reject -->
                {% if approval_status.message.id == "3" %}
                <div class=" px-2 py-1 danger-color text-white rounded">
                  {{approval_status.message.name}}
                </div>
                <!-- approved -->
                {% elif approval_status.message.id == "2" %}
                <div class=" px-2 py-1 success-color text-white rounded">
                  {{approval_status.message.name}}
                </div>
                <!-- pending approval -->
                {% elif approval_status.message.id == "1" %}
                <div class=" px-2 py-1 info-color text-white rounded">
                  {{approval_status.message.name}}
                </div>
                <!-- not yet submit for approval -->
                {% else%}
                <div class=" px-2 py-1 rounded">
                  Chưa tạo phê duyệt
                </div>
                {% endif %}
                {%else%}
                <div class="border border-black">
                  {{approval_status.message}}
                </div>
                {% endif %}
                {% endif %}
              </div>

              <div class="table-responsive">
                <!--Table-->
                <table class="table table-hover mb-0" id="tbl_firewall_rule">
                  <!-- Table head -->
                  <thead>
                    <tr>
                      <th style="width: 5rem;">STT <i class="fas fa-sort ml-1"></i></a></th>
                      <th>Tên</th>
                      <th>Địa chỉ nguồn</th>
                      <th>Địa chỉ đích</th>
                      <th>Cổng kết nối</th>
                      <th>Mô tả</th>
                      <th style="width: 15rem;">Thao tác</th>
                    </tr>
                  </thead>
                  <!-- Table head -->
                  <!-- Table body -->
                  <tbody id="tbl_body">
                    <!-- <div id="form-array"> -->
                    {% if request_data|length > 0 and request_data is defined %}
                    <!-- Trường hợp 1 - có sẵn dữ liệu -->
                    {% for rule in request_data %}
                    <tr>
                      <form id="row-{{rule.id}}">
                        <input type="hidden" name="{{rule.id}}" id="{{rule.id}}" value="{{rule.id}}">
                        <td><span class="me-2 p-1" id="span-{{rule.id}}"></span></td>
                        <td>
                          <span id="span-name-{{rule.id}}">{{rule.name}}</span>
                          <input type="text" class="form-control form-control-sm" value="{{rule.name}}"
                            id="name-{{rule.id}}" required disabled hidden>
                        </td>
                        <!-- Hiển thị địa chỉ IP nguồn -->
                        <td>
                          <div id="source-array-{{rule.id}}">
                            {% for element in rule.source %}
                            <span class="">
                              {{ element.source|e }}
                            </span>
                            <div class="input-group" id="input-group-source-{{rule.id}}-{{element.id}}">
                              <input type="text" class="form-control form-control-sm" aria-label=""
                                aria-describedby="btn-remove-source-{{rule.id}}-{{element.id}}"
                                value="{{ element.source|e }}" id="input-source-{{rule.id}}-{{element.id}}" required
                                disabled hidden>
                              <div class="input-group-append">
                                <button
                                  class="btn btn-sm btn-md btn-outline-default m-0 px-2 py-1 z-depth-0 waves-effect"
                                  type="button" id="btn-remove-source-{{rule.id}}-{{element.id}}"
                                  onclick="RemoveObjectRow(this.id,objectType='source',removedb=true)" disabled
                                  hidden>X</button>
                              </div>
                            </div>
                            {% endfor %}
                          </div>
                        </td>
                        <!-- Hiển thị địa chỉ IP nguồn -->
                        <!-- Hiển thị địa chỉ IP đích -->
                        <td>
                          <div id="destination-array-{{rule.id}}">
                            {% for element in rule.destination %}
                            <span class="">
                              {{ element.destination|e }}
                            </span>
                            <div class="input-group" id="input-group-destination-{{rule.id}}-{{element.id}}">
                              <input type="text" class="form-control form-control-sm" aria-label=""
                                aria-describedby="btn-remove-destination-{{rule.id}}-{{element.id}}"
                                value="{{ element.destination|e }}" id="input-destination-{{rule.id}}-{{element.id}}"
                                required disabled hidden>
                              <div class="input-group-append">
                                <button
                                  class="btn btn-sm btn-md btn-outline-default m-0 px-2 py-1 z-depth-0 waves-effect"
                                  type="button" id="btn-remove-destination-{{rule.id}}-{{element.id}}"
                                  onclick="RemoveObjectRow(this.id,objectType='destination',removedb=true)" disabled
                                  hidden>X</button>
                              </div>
                            </div>
                            {% endfor %}
                          </div>
                        </td>
                        <!-- Hiển thị địa chỉ IP đích -->
                        <!-- Hiển thị cổng -->
                        <td>
                          <div id="service-array-{{rule.id}}">
                            {% for element in rule.service %}
                            <span class="">
                              {{ element.port|e }}
                            </span>
                            <div class="input-group" id="input-group-service-{{rule.id}}-{{element.id}}">
                              <input type="text" class="form-control form-control-sm" aria-label=""
                                aria-describedby="btn-remove-service-{{rule.id}}-{{element.id}}"
                                value="{{ element.port|e }}" id="input-service-{{rule.id}}-{{element.id}}" required
                                disabled hidden>
                              <div class="input-group-append">
                                <button
                                  class="btn btn-sm btn-md btn-outline-default m-0 px-2 py-1 z-depth-0 waves-effect"
                                  type="button" id="btn-remove-service-{{rule.id}}-{{element.id}}"
                                  onclick="RemoveObjectRow(this.id,objectType='service',removedb=true)" disabled
                                  hidden>X</button>
                              </div>
                            </div>
                            {% endfor %}
                          </div>
                        </td>
                        <!-- Hiển thị cổng -->
                        <!-- Mô tả rule -->
                        <td>
                          <span id="span-description-{{rule.id}}">
                            {{rule.description}}
                          </span>
                          <textarea class="form-control form-control-sm" id="description-{{rule.id}}" disabled
                            hidden>{{rule.description}}</textarea>
                        </td>
                        <!-- Mô tả rule -->
                        <!-- Chức năng -->
                        <td>
                          {%if approval_status is defined%}
                          {%if approval_status.code == 1 and approval_status.message is none %}
                          <!-- button update -->
                          <button type="button" class="btn btn-outline-primary btn-sm waves-effect waves-light"
                            id="btn-update-rule-{{rule.id}}" onclick="UpdateRule(this.id)" disabled hidden>
                            Lưu
                          </button>
                          <!-- button udpate -->
                          <!-- button edit -->
                          <button type="button" class="btn btn-outline-warning btn-sm waves-effect waves-light"
                            id="btn-edit-rule-{{rule.id}}" onclick="EditRule(this.id)">
                            Sửa
                          </button>
                          <!-- button edit -->
                          <!-- button save -->
                          <button type="button" class="btn btn-outline-primary btn-sm waves-effect waves-light"
                            id="btn-save-rule-{{rule.id}}" onclick="SaveRule(this.id)" disabled hidden>
                            Lưu
                          </button>
                          <!-- button save -->
                          <!-- button remove -->
                          <button type="button" class="btn btn-outline-danger btn-sm waves-effect waves-light"
                            id="btn-remove-rule-{{rule.id}}"
                            onclick="RemoveObjectRow(this.id,objectType='rule',removedb = true)">
                            Xóa
                          </button>
                          <!-- button remove -->
                          {% endif %}
                          {% endif %}

                        </td>
                        <!-- Chức năng -->
                      </form>
                    </tr>
                    {% endfor %}
                    {% endif %}
                    <!-- Trường hợp 1 - có sẵn dữ liệu -->
                    {% if error is not defined and request_data|length <=0 %} <!-- Trường hợp 2 - không có dữ liệu -->
                      <tr>
                        <form id="row-0" class="needs-validation" novalidate>
                          <!-- Index Column -->
                          <td>
                            <span class="me-2 p-1" id="span-0">1</span>
                          </td>
                          <!-- Index Column -->
                          <!-- Name Column -->
                          <td>
                            <div class="input-group">
                              <input type="text" class="form-control form-control-sm" placeholder="Tên rule" id="name-0"
                                required>
                            </div>
                          </td>
                          <!-- Name Column -->
                          <!-- Source column -->
                          <td>
                            <div id="source-array-0">
                              <div class="input-group" id="input-group-source-0-0">
                                <input type="text" class="form-control form-control-sm" placeholder="Địa chỉ nguồn"
                                  id="input-source-0-0" required>
                                <div class="input-group-append">
                                  <button
                                    class="btn btn-sm btn-md btn-outline-default m-0 px-2 py-1 z-depth-0 waves-effect"
                                    type="button" id="btn-remove-source-0-0"
                                    onclick="RemoveObjectRow(this.id,objectType='source',removedb=false)">X
                                  </button>
                                </div>
                              </div>
                            </div>
                            <!-- Add source -->
                            <div class="d-grid">
                              <button class="btn btn-sm" type="button" id="button-add-source-0"
                                onclick="AddObjectRow(this.id,objectType='source')">
                                Thêm
                              </button>
                            </div>
                          </td>
                          <!-- Source column -->
                          <!-- Destination column -->
                          <td>
                            <div id="destination-array-0">
                              <div class="input-group" id="input-group-destination-0-0">
                                <input type="text" class="form-control form-control-sm" placeholder="Địa chỉ đích"
                                  id="input-destination-0-0" required>
                                <div class="input-group-append">
                                  <button
                                    class="btn btn-sm btn-md btn-outline-default m-0 px-2 py-1 z-depth-0 waves-effect"
                                    type="button" id="btn-remove-destination-0-0"
                                    onclick="RemoveObjectRow(this.id,objectType='destination',removedb=false)">
                                    X
                                  </button>
                                </div>
                              </div>
                            </div>
                            <!-- Button Add Destination -->
                            <div class="d-grid">
                              <button class="btn btn-sm" type="button" id="button-add-destination-0"
                                onclick="AddObjectRow(this.id,objectType='destination')">
                                Thêm
                              </button>
                            </div>
                          </td>
                          <!-- Destination Column -->
                          <!-- Service Column -->
                          <td>
                            <div id="service-array-0">
                              <div class="input-group" id="input-group-service-0-0">
                                <input type="text" class="form-control form-control-sm" placeholder="Cổng"
                                  id="input-service-0-0" required>
                                <div class="input-group-append">
                                  <button
                                    class="btn btn-sm btn-md btn-outline-default m-0 px-2 py-1 z-depth-0 waves-effect"
                                    type="button" id="btn-remove-service-0-0"
                                    onclick="RemoveObjectRow(this.id,objectType='service',removedb=false)">
                                    X
                                  </button>
                                </div>
                              </div>
                            </div>
                            <!-- Button add Service -->
                            <div class="d-grid">
                              <button class="btn btn-sm" type="button" id="button-add-service-0"
                                onclick="AddObjectRow(this.id,objectType='service')">
                                Thêm
                              </button>
                            </div>
                          </td>
                          <!-- Service Column -->
                          <!-- Description Column -->
                          <td>
                            <textarea class="form-control form-control-sm" placeholder="Mô tả"
                              id="description-0"></textarea>
                          </td>
                          <!-- Description Column -->
                          <!-- Functional Column -->
                          <td>
                            {%if approval_status is defined%}
                            {%if approval_status.code == 1 and approval_status.message is none %}
                            <!-- button save -->
                            <button type="button" class="btn btn-outline-primary btn-sm waves-effect waves-light mt-0"
                              id="btn-save-rule-0" onclick="SaveRule(this.id)">
                              Lưu
                            </button>
                            <!-- button remove -->
                            <button type="button" class="btn btn-outline-danger btn-sm waves-effect waves-light mt-0"
                              id="btn-remove-rule-0"
                              onclick="RemoveObjectRow(this.id,objectType='rule',removedb=false)">
                              Xóa
                            </button>
                            {% endif %}
                            {% endif %}

                          </td>
                          <!-- Functional Column -->
                        </form>
                      </tr>
                      {% endif %}
                      <!-- Trường hợp 2 - không có dữ liệu -->
                      <!-- </div> -->
                  </tbody>
                  <!-- Table body -->
                </table>
                <!-- Table -->
              </div>
              <!-- Card Content -->
            </div>
            <!-- Card Content -->
        </section>
        <!--Section: Firewall Rule-->
      </div>
      <!-- Card -->
    </section>
    <!-- Section: Main panel -->
  </div>
</main>
<!-- Main layout -->


<!-- Central Modal Small -->
<div class="modal fade" id="md_submit_for_approval_{{requestid}}" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">

  <!-- Change class .modal-sm to change the size of the modal -->
  <div class="modal-dialog modal-xm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Submit for Approval</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning alert-dismissible fade show" role="alert" id="md_alert" hidden>
          <div id="md_alert_content"></div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Default form contact -->
        <label for="md-slt-approver-{{requestid}}">
          Chọn người phê duyệt
        </label>

        <select class="form-control form-control-sm mb-4" id="md-slt-approver-{{requestid}}"
          data-requestid="{{requestid}}">
          <optgroup label="Phòng Vận Hành">
            <option value="chaunt@cpc.vn">Nguyễn Thanh Châu</option>
            <option value="locn@cpc.vn">Nguyễn Lộc</option>
            <option value="dunghx@cpc.vn">Hoàng Xuân Dũng</option>
          </optgroup>
          <optgroup label="Phòng Phần Mềm">
            <option value="thongv@cpc.vn">Vương Thông</option>
            <option value="nhatnm@cpc.vn">Nguyễn Minh Nhật</option>
            <option value="binhns@cpc.vn">Nguyễn Sơn Bình</option>
            <option value="tuantk@cpc.vn">Trần Khắc Tuấn</option>
          </optgroup>
          <optgroup label="Phòng An Toàn Thông Tin">
            <option value="truongdx@cpc.vn">Đinh Xuân Trưởng</option>
          </optgroup>
          <optgroup label="Phòng Phát Triển Ứng Dụng">
            <option value="vantri@cpc.vn">Phan Văn Trí</option>
            <option value="thangltm@cpc.vn">Nguyễn Minh Thắng</option>
          </optgroup>
          <optgroup label="Phòng Kỹ thuật và Mạng viễn thông">
            <option value="tuanpa2@cpc.vn">Phan Anh Tuấn</option>
            <option value="tungttt@cpc.vn">Tôn Thất Thanh Tùng</option>
            <option value="dangdh@cpc.vn">Đoàn Hải Đăng</option>
            <option value="haitn@cpc.vn">Trương Ngọc Hải</option>
          </optgroup>
          <optgroup label="Ban Giám Đốc">
            <option value="binhns@cpc.vn">Nguyễn Sơn Bình</option>
            <option value="tuantk@cpc.vn">Trần Khắc Tuấn</option>
          </optgroup>
        </select>
        <!-- Message -->
        <div class="form-group">
          <textarea class="form-control rounded-0" id="md-textarea-message-{{requestid}}" data-requestid="{{requestid}}"
            rows="3" placeholder="Lời nhắn cho người phê duyệt"></textarea>
        </div>
        <!-- Default form contact -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary btn-sm" id="md-btn-submitforapproval-{{requestid}}"
          data-requestid="{{requestid}}" onclick="submit_for_approval(this)">Submit</button>
      </div>
    </div>
  </div>
</div>
<!-- Central Modal Small -->

{% endblock %}

{% block script %}
<!-- Template Script -->
<script>
  // SideNav Initialization
  $(".button-collapse").sideNav();

  var container = document.querySelector('.custom-scrollbar');
  var ps = new PerfectScrollbar(container, {
    wheelSpeed: 0.5,
    wheelPropagation: true,
    minScrollbarLength: 20
  });

  // Data Picker Initialization
  $('.datepicker').pickadate();

  // Material Select Initialization
  // $(document).ready(function () {
  //   $('.mdb-select').material_select();
  // });

  // Tooltips Initialization
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
  $(function () {
    $('#dark-mode').on('click', function (e) {

      e.preventDefault();
      $('h4, button').not('.check').toggleClass('dark-grey-text text-white');
      $('.list-panel a').toggleClass('dark-grey-text');

      $('footer, .card').toggleClass('dark-card-admin');
      $('body, .navbar').toggleClass('white-skin navy-blue-skin');
      $(this).toggleClass('white text-dark btn-outline-black');
      $('body').toggleClass('dark-bg-admin');
      $('h6, .card, p, td, th, i, li a, h4, input, label').not(
        '#slide-out i, #slide-out a, .dropdown-item i, .dropdown-item').toggleClass('text-white');
      $('.btn-dash').toggleClass('grey blue').toggleClass('lighten-3 darken-3');
      $('.gradient-card-header').toggleClass('white black lighten-4');
      $('.list-panel a').toggleClass('navy-blue-bg-a text-white').toggleClass('list-group-border');

    });
  });
</script>
<!-- Template Script -->
<!-- Modal Related Script -->
<script>
  function submit_for_approval(clicked) {
    let requestid = clicked.dataset.requestid
    let approver = $("#md-slt-approver-" + requestid).val();
    let message = $("#md-textarea-message-" + requestid).val();
    let postData = {
      email_id: approver,
      message: message
    };
    fetch("/servicedesk/firewall/" + requestid + "/submitforapproval", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(postData)
    })
      .then((response) => {
        return response.json()
      })
      .then((data) => {
        let result = data;
        if (result["code"] == 1) {
          location.reload();
        }
        else {
          message = null;
          if (result.error) { message = result.error }
          if (result.data) { message = result.data }
          document.getElementById("md_alert_content").innerText = message;
          document.getElementById("md__alert").removeAttribute("hidden", true)
        }
      })
      .catch(error => console.error(error));
  };
  function open_modal(clicked) {
    $('#md_submit_for_approval_{{requestid}}').modal('show')
  }
</script>
<!-- Modal Related Script -->
<!-- Script -->
<script>
  // Đánh số thứ tự các dòng trong bảng
  function SoThuTu() {
    let tbl_firewall_rule = document.getElementById("tbl_firewall_rule");
    if (tbl_firewall_rule && tbl_firewall_rule.rows.length > 0) {
      for (let index = 1; index < tbl_firewall_rule.rows.length; index++) {
        let stt_cell = tbl_firewall_rule.rows[index].cells.item(0);
        value = '<span class="me-2 p-1" id="span-' + index + '">' + index + '</span>';
        stt_cell.innerHTML = value;
      }
    }
  }
  document.addEventListener("DOMContentLoaded", () => {
    SoThuTu();
  });
  // Đánh số thứ tự các dòng trong bảng
  // Thêm form mới để nhập thông tin
  function AddForm() {
    // let objectarray = document.getElementById('form-array');
    let tbl_firewall_rule = document.getElementById("tbl_firewall_rule");
    // let objectCount = tbl_firewall_rule.rows.length;
    let objectCount = Math.random().toString(36).substring(2, 7);
    // objectCount -= 1;

    let newform = `
    <form  id="row-${objectCount}" class="needs-validation" novalidate>
        <td>
          <span class="me-2 p-1" id="span-${objectCount}"></span>
        </td>
        <td>
          <div class="input-group">
            <input type="text" class="form-control form-control-sm" placeholder="Tên rule"
              id="name-${objectCount}" required>
          </div>
        </td>
        <!-- Source column -->
        <td>
          <div id="source-array-${objectCount}">
            <div class="input-group" id="input-group-source-${objectCount}-0">
              <input type="text" class="form-control form-control-sm" placeholder="Địa chỉ nguồn"
                id="input-source-${objectCount}-0" required>
              <div class="input-group-append">
                <button
                  class="btn btn-sm btn-md btn-outline-default m-0 px-2 py-1 z-depth-0 waves-effect"
                  type="button" id="btn-remove-source-${objectCount}-0"
                  onclick="RemoveObjectRow(this.id,objectType='source',removedb=false)">X
                </button>
              </div>
            </div>
          </div>
          <!-- Add source -->
          <div class="d-grid">
            <button class="btn btn-sm" type="button" id="button-add-source-${objectCount}"
              onclick="AddObjectRow(this.id,objectType='source')">
              Thêm
            </button>
          </div>
        </td>
        <!-- Source column -->
        <!-- Destination column -->
        <td>
          <div id="destination-array-${objectCount}">
            <div class="input-group" id="input-group-destination-${objectCount}-0">
              <input type="text" class="form-control form-control-sm" placeholder="Địa chỉ đích"
                id="input-destination-${objectCount}-0" required>
              <div class="input-group-append">
                <button
                  class="btn btn-sm btn-md btn-outline-default m-0 px-2 py-1 z-depth-0 waves-effect"
                  type="button" id="btn-remove-destination-${objectCount}-0"
                  onclick="RemoveObjectRow(this.id,objectType='destination',removedb=false)">
                  X
                </button>
              </div>
            </div>
          </div>
          <!-- Button Add Destination -->
          <div class="d-grid">
            <button class="btn btn-sm" type="button" id="button-add-destination-${objectCount}"
              onclick="AddObjectRow(this.id,objectType='destination')">
              Thêm
            </button>
          </div>
        </td>
        <!-- Destination Column -->
        <!-- Service Column -->
        <td>
          <div id="service-array-${objectCount}">
            <div class="input-group" id="input-group-service-${objectCount}-0">
              <input type="text" class="form-control form-control-sm" placeholder="Cổng"
                id="input-service-${objectCount}-0" required>
              <div class="input-group-append">
                <button
                  class="btn btn-sm btn-md btn-outline-default m-0 px-2 py-1 z-depth-0 waves-effect"
                  type="button" id="btn-remove-service-${objectCount}-0"
                  onclick="RemoveObjectRow(this.id,objectType='service',removedb=false)">
                  X
                </button>
              </div>
            </div>
          </div>
          <!-- Button add Service -->
          <div class="d-grid">
            <button class="btn btn-sm" type="button" id="button-add-service-${objectCount}"
              onclick="AddObjectRow(this.id,objectType='service')">
              Thêm
            </button>
          </div>
        </td>
        <!-- Service Column -->
        <!-- Description Column -->
        <td>
          <textarea class="form-control form-control-sm" placeholder="Mô tả"
            id="description-${objectCount}"></textarea>
        </td>
        <!-- Description Column -->
        <!-- Functional Column -->
        <td>
          <!-- button save -->
          <button type="button" class="btn btn-outline-primary btn-sm waves-effect waves-light mt-0" id="btn-save-rule-${objectCount}" onclick="SaveRule(this.id)">
            Lưu
          </button>
          <!-- button remove -->
          <button type="button" class="btn btn-outline-danger btn-sm waves-effect waves-light mt-0" id="btn-remove-rule-${objectCount}"
            onclick="RemoveObjectRow(this.id,objectType='rule',removedb=false)">
            Xóa
          </button>
        </td>
        <!-- Functional Column -->
    `
    let newrow = tbl_firewall_rule.insertRow(tbl_firewall_rule.rows.length);
    newrow.innerHTML = newform;
    SoThuTu();

  }
  // Thêm form mới để nhập thông tin
  // Thêm input cho các chột ip nguồn, ip đích, cổng
  function AddObjectRow(clicked, objectType) {
    let idprefix = "button-add-" + objectType + "-";
    let row = clicked.substring(idprefix.length);
    let objectarray = document.getElementById(objectType + '-array-' + row);
    let objectCount = objectarray.childElementCount;
    let placeholder = "";
    if (objectType == "service") {
      placeholder = "Cổng";
    }
    if (objectType == "destination") {
      placeholder = "Địa chỉ đích";
    }
    if (objectType == "source") {
      placeholder = "Địa chỉ nguồn";
    }
    const objectHtml = `
              <div class="input-group" id="input-group-${objectType}-${row}-${objectCount}">
                <input type="text" class="form-control form-control-sm" placeholder="${placeholder}" id="input-${objectType}-${row}-${objectCount}" required>
                <div class="input-group-append">
                  <button class="btn btn-sm btn-md btn-outline-default m-0 px-2 py-1 z-depth-0 waves-effect" type="button" id="btn-remove-${objectType}-${row}-${objectCount}" onclick="RemoveObjectRow(this.id,'${objectType}')">
                      X
                  </button>
                </div>
              </div>
          `;
    objectarray.insertAdjacentHTML('beforeend', objectHtml);
  }
  // Thêm input cho các cột ip nguồn, ip đích, cổng
  // Xóa một dòng
  function Delete_Table_Row(table_id, row_number) {
    document.getElementById(table_id).deleteRow(row_number);
  }
  // Xóa một dòng
  // Xóa một đối tượng địa chỉ nguồn, địa chỉ đích hoặc cổng
  function RemoveObjectRow(clicked, objectType, removedb = false) {
    let requestid = document.getElementById("requestid");
    // Xóa một đối tượng
    if (objectType != "rule") {
      let idprefix = "btn-remove-" + objectType + "-";
      objectrow = clicked.substring(idprefix.length);
      objectrowsplit = objectrow.split("-");
      ruleid = objectrowsplit[0];
      objectid = objectrowsplit[1];

      const postData = {
        type: objectType,
        ruleid: ruleid,
        objectid: objectid
      };
      if (removedb == true) {
        fetch("/servicedesk/firewall/" + requestid.value, {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(postData)
        })
          .then((response) => {
            return response.json()
          })
          .then((data) => {
            let result = data;
            if (result["code"] == 1) {
              location.reload();
            }
          })
          .catch(error => console.error(error));
      }
      else {
        remove_element_id = "input-group-" + objectType + "-" + objectrow;
        remove_element = document.getElementById(remove_element_id);
        remove_element.remove();
      }
    }
    // Xóa một rule
    if (objectType == 'rule') {
      let idprefix = "btn-remove-rule-";
      objectrow = clicked.substring(idprefix.length);

      const postData = {
        type: "rule",
        ruleid: objectrow
      };
      if (removedb == true) {
        fetch("/servicedesk/firewall/" + requestid.value, {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(postData)
        })
          .then((response) => {
            return response.json()
          })
          .then((data) => {
            let result = data;
            if (result["code"] == 1) {
              location.reload();
            }
          })
          .catch(error => console.error(error));
      }
      else {
        let btn = document.getElementById(clicked);
        let tr = btn.parentNode.parentNode;
        Delete_Table_Row("tbl_firewall_rule", tr.rowIndex);
        SoThuTu();
      }
    }
  }
  // Xóa một đối tượng địa chỉ nguồn, địa chỉ đích hoặc cổng
  // Lấy form data
  function get_form_data_for_new_rule(row) {
    const sourceData = [];
    let sources = document.getElementById("source-array-" + row);
    sources.querySelectorAll("input").forEach(element => {
      sourceData.push(element.value);
    });
    const destinationData = [];
    let destinations = document.getElementById("destination-array-" + row);
    destinations.querySelectorAll("input").forEach(element => {
      destinationData.push(element.value);
    });
    const serviceData = [];
    let services = document.getElementById("service-array-" + row);
    services.querySelectorAll("input").forEach(element => {
      serviceData.push(
        {
          "protocol": "TCP",
          "port": parseInt(element.value)
        }
      );
    });
    let name = document.getElementById("name-" + row);
    let description = document.getElementById("description-" + row);
    const postData = {
      name: name.value,
      source: sourceData,
      destination: destinationData,
      service: serviceData,
      description: description.value,
      requestid: requestid.value
    };
    return postData
  }
  // Lấy form data
  // Submit form khi tạo rule mới
  function SaveRule(clicked) {
    let idprefix = "btn-save-rule-";
    let requestid = document.getElementById("requestid");
    let row = clicked.substring(idprefix.length);
    postData = get_form_data_for_new_rule(row = row);
    fetch("/servicedesk/firewall/" + requestid.value, {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(postData)
    })
      .then(response => {
        return response.json()
      })
      .then(result => {
        if (result["code"] == 1) {
          location.reload();
        }
        else {
          // console.log(result)
          document.getElementById("alert_content").textContent = "code: " + result["code"] + " message: " + result["message"]
          document.getElementById("tbl_alert").removeAttribute("hidden", true)
        }
      })
      .catch(error => console.error(error));
  }
  // Submit form khi tạo rule mới
  // Ẩn một element
  function hide_element(element_id) {
    element = document.getElementById(element_id);
    element.setAttribute("disabled", true);
    element.setAttribute("hidden", true);
  };
  // Ẩn một element
  // Hiện một element
  function unhide_element(element_id) {
    element = document.getElementById(element_id);
    element.removeAttribute("disabled", true);
    element.removeAttribute("hidden", true);
  };
  // Hiện một element
  // Hiện các input trên form khi click nút sửa
  function enable_to_edit(objectType, ruleid) {
    parent_object = document.getElementById(objectType + "-array-" + ruleid);
    span_list = parent_object.querySelectorAll("span");
    span_list.forEach(element => {
      element.setAttribute("disabled", true);
      element.setAttribute("hidden", true);
    })
    input_list = parent_object.querySelectorAll("input");
    input_list.forEach(element => {
      unhide_element(element.id);
    });


  }
  // Hiện các input trên form khi click nút sửa
  // Hàm chạy khi click nút sửa
  function EditRule(clicked) {
    let idprefix = "btn-edit-rule-";
    let requestid = document.getElementById("requestid");
    let ruleid = clicked.substring(idprefix.length);
    hide_element(clicked);
    unhide_element("btn-update-rule-" + ruleid);
    enable_to_edit("source", ruleid);
    enable_to_edit("destination", ruleid);
    enable_to_edit("service", ruleid);
    hide_element("span-name-" + ruleid);
    unhide_element("name-" + ruleid);
    hide_element("span-description-" + ruleid);
    unhide_element("description-" + ruleid);
  };
  // Hàm chạy khi click nút sửa
  // Tách object ip và rule id từ element_id
  function get_object_id(objectid, objecttype) {
    let idprefix = "input-" + objecttype + "-";
    let split_id = objectid.substring(idprefix.length);
    let array_id = split_id.split("-")
    return {
      ruleid: array_id[0],
      objectid: array_id[1]
    }
  };
  // Tách object ip và rule id từ element_id
  // Hàm chạy khi click nút cập nhật
  function UpdateRule(clicked) {
    let idprefix = "btn-update-rule-";
    let requestid = document.getElementById("requestid");
    let ruleid = clicked.substring(idprefix.length);
    let update_form = document.getElementById("row-" + ruleid);
    const formElements = Array.from(update_form.elements);
    let sources = []
    let destinations = []
    let services = []
    let name
    let description
    formElements.forEach(element => {
      if (element.type == "text" || element.type == "textarea") {
        if (element.id.includes("input-source-")) {
          let info = get_object_id(element.id, "source")
          sources.push({
            value: element.value,
            objectid: info["objectid"],
            ruleid: ruleid
          });
        }
        if (element.id.includes("input-destination-")) {
          let info = get_object_id(element.id, "destination")
          destinations.push({
            value: element.value,
            objectid: info["objectid"],
            ruleid: ruleid
          });
        }
        if (element.id.includes("input-service-")) {
          let info = get_object_id(element.id, "service")
          services.push({
            value: parseInt(element.value),
            objectid: info["objectid"],
            ruleid: ruleid
          });
        }
        if (element.id.includes("name-")) { name = element.value };
        if (element.id.includes("description-")) { description = element.value };

      }
    })
    postData = {
      name: name,
      sources: sources,
      destinations: destinations,
      services: services,
      description: description,
      ruleid: ruleid
    }
    fetch("/servicedesk/firewall/" + requestid.value, {
      method: "PUT",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(postData)
    })
      .then((response) => {
        return response.json()
      })
      .then(result => {
        if (result["code"] == 1) {
          location.reload();
        }
        else {
          document.getElementById("alert_content").textContent = result["message"]
          document.getElementById("tbl_alert").removeAttribute("hidden", true)
        }
      })
      .catch(error => console.error(error));
  };
  // Hàm chạy khi click nút cập nhật

</script>
<!-- Script -->
<!-- Custom Script -->


{% endblock %}