{% extends 'mdb/base_mdb.html' %}
{% block title %}
<title>Yêu cầu mở cân bằng tải ứng dụng</title>
{% endblock %}

{% block sidebar_navigation_link %}
<!-- Side navigation links -->
<li>
  <ul class="collapsible collapsible-accordion" id="sidebar_body">
    <li>
      <!-- <a class="collapsible-header waves-effect"
        href="#"
        id="#" name="#">
      </a> -->
    </li>
  </ul>
</li>
<!-- Side navigation links -->
{% endblock %}

{%block page_body_title%}Yêu cầu mở cân bằng tải ứng dụng{%endblock%}

{% block dataview %}
<!-- Main layout -->
<main class="ml-4 mr-4">
  <div class="container-fluid">
    <!-- Section: Main panel -->
    <section class="mb-5">
      <!-- Card -->
      <div class="card card-cascade narrower">
        <!-- Section: Citrix Request -->
        <section>
          <div class="card card-cascade narrower z-depth-0">
            <!-- Card Header -->
            <div
              class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
              <a href="" class="white-text mx-3">Form nhập thông tin cấu hình cân bằng tải</a>
              <div>
                {%if case != 1 and case != 2 %}
                {%if approval_status is defined%}
                {%if approval_status.code == 1 and approval_status.message is none %}
                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"
                  id="btn-open-modal-{{requestid}}" data-requestid="{{requestid}}" onclick="open_modal(this)">Gửi phê duyệt</button>
                {% endif %}
                {% endif %}
                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" onclick="AddForm()">Thêm Cấu
                  Hình</button>
                {% endif %}
              </div>
            </div>
            <!-- Card Header -->
            <!-- Card Content -->
            <div class="px-4">
              <input type="hidden" name="requestid" id="requestid" value="{{requestid}}">
              <div class="alert alert-warning alert-dismissible fade show" role="alert" id="tbl_alert" hidden>
                <div id="alert_content"></div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="d-flex p-2 justify-content-end">
                <!-- Hiển thị lỗi dữ liệu không hợp lệ -->
                {%if case == 1 or case == 2 %}
                <div class="alert alert-warning" role="alert">
                  {{data.data}}
                </div>
                {%endif%}
                <!-- Hiển thị lỗi dữ liệu không hợp lệ -->
                <!-- Trường hợp 1 - có sẵn dữ liệu -->
                {%if case != 1 and case != 2 %}
                {% if approval_status is defined %}
                <div class="py-1 px-2">
                  Trạng thái phê duyệt:
                </div>
                {% if approval_status.code == 1 %}
                <!-- reject -->
                {% if approval_status.message.id == "3" %}
                <div class=" px-2 py-1 danger-color text-white rounded">
                  {{approval_status.message.name}}
                </div>
                <!-- approved -->
                {% elif approval_status.message.id == "2" %}
                <div class=" px-2 py-1 success-color text-white rounded">
                  {{approval_status.message.name}}
                </div>
                <!-- pending approval -->
                {% elif approval_status.message.id == "1" %}
                <div class=" px-2 py-1 info-color text-white rounded">
                  {{approval_status.message.name}}
                </div>
                <!-- not yet submit for approval -->
                {% else%}
                <div class=" px-2 py-1 rounded">
                  Chưa tạo phê duyệt
                </div>
                {% endif %}
                {%else%}
                <div class="border border-black">
                  {{approval_status.message}}
                </div>
                {% endif %}
              </div>
              {% endif %}

              <div class="table-responsive">
                <!--Table-->
                <table class="table table-hover mb-0" id="tbl_citrix_request">
                  <!-- Table head -->
                  <thead>
                    <tr>
                      <th style="width: 5rem;"><a>STT <i class="fas fa-sort ml-1"></i></a></th>
                      <th>Địa chỉ IP cân bằng tải</th>
                      <th>Thông tin máy chủ</th>
                      <th>Cổng cân bằng tải</th>
                      <th>Mô tả</th>
                      <th style="width: 15rem;">Thao tác</th>
                    </tr>
                  </thead>
                  <!-- Table head -->
                  <!-- Table body -->
                  <tbody id="tbl_body">
                    <!-- Trường hợp 1 -  đã có dữ liệu -->
                    {%if case == 4 %}
                    {% for element in data.data %}
                    <tr id="row-{{element.lb.lbid}}">
                      <!-- Index Column -->
                      <td>
                        <span class="me-2 p-1" id="span-{{element.lb.lbid}}" data-lbid="{{element.lb.lbid}}"
                          data-requestid="{{requestid}}">1</span>
                      </td>
                      <!-- Index Column -->
                      <!-- IP Citrix -->
                      <td>
                        <div class="input-group">
                          <span class="form-control form-control-sm data-view"
                            id="span-lb-{{element.lb.lbid}}">{{element.lb.vip}}</span>
                          <input type="text" class="form-control form-control-sm data-edit" placeholder="VIP"
                            id="lb-{{element.lb.lbid}}" data-lbid="{{element.lb.lbid}}" data-requestid="{{requestid}}"
                            data-objectid="{{element.lb.lbid}}" value="{{element.lb.vip}}" required disabled hidden>
                        </div>
                      </td>
                      <!-- IP Citrix -->
                      <!-- Server column -->
                      <td>
                        <div id="server-array-{{element.lb.lbid}}">
                          {% for server in element.servers %}
                          <div class="input-group  data-view">
                            <span class="form-control form-control-sm">{{server.servername}}</span>
                            <span class="form-control form-control-sm">{{server.serveripaddress}}</span>
                          </div>
                          <div class="input-group data-edit"
                            id="input-group-server-{{element.lb.lbid}}-{{server.serverid}}"
                            data-lbid="{{element.lb.lbid}}" data-requestid="{{requestid}}"
                            data-objectid="{{server.serverid}}" hidden>
                            <input type="text" class="form-control form-control-sm data-edit" placeholder="Tên máy chủ"
                              id="input-servername-{{element.lb.lbid}}-{{server.serverid}}"
                              data-lbid="{{element.lb.lbid}}" data-requestid="{{requestid}}"
                              data-objectid="{{server.serverid}}" value="{{server.servername}}" disabled hidden>
                            <input type="text" class="form-control form-control-sm data-edit" placeholder="Địa chỉ IP"
                              id="input-serverip-{{element.lb.lbid}}-{{server.serverid}}"
                              data-lbid="{{element.lb.lbid}}" data-requestid="{{requestid}}"
                              data-objectid="{{server.serverid}}" value="{{server.serveripaddress}}" disabled hidden>
                            <div class="input-group-append data-edit" hidden>
                              <button
                                class="btn btn-sm btn-md btn-outline-default m-0 px-2 py-1 z-depth-0 waves-effect data-edit"
                                type="button" id="btn-remove-server-{{element.lb.lbid}}-{{server.serverid}}"
                                data-lbid="{{element.lb.lbid}}" data-requestid="{{requestid}}"
                                data-objectid="{{server.serverid}}"
                                onclick="RemoveObjectRow(this,objectType='server',removedb=true)" disabled hidden>X
                              </button>
                            </div>
                          </div>
                          {% endfor %}

                        </div>
                        <!-- Add server -->
                        <div class="d-grid">
                          <button class="btn btn-sm" type="button" id="btn-add-server-{{element.lb.lbid}}"
                            data-lbid="{{element.lb.lbid}}" data-requestid="{{requestid}}"
                            data-objectid="{{element.lb.lbid}}" onclick="AddObjectRow(this,objectType='server')"
                            disabled hidden>
                            Thêm
                          </button>
                        </div>
                      </td>
                      <!-- Server column -->
                      <!-- Service and protocol column -->
                      <td>
                        <div id="serviceandprotocol-array-{{element.lb.lbid}}">
                          {% for service in element.services %}
                          <div class="input-group  data-view" id="">
                            <span class="form-control form-control-sm">{{service.serviceport}}</span>
                            <span class="form-control form-control-sm">{{service.servicetype}}</span>
                          </div>
                          <div class="input-group data-edit"
                            id="input-group-serviceandprotocol-{{element.lb.lbid}}-{{service.serviceid}}"
                            data-lbid="{{element.lb.lbid}}" data-requestid="{{requestid}}"
                            data-objectid="{{service.serviceid}}" hidden>
                            <input type="text" class="form-control form-control-sm data-edit" placeholder="Cổng"
                              id="input-port-{{element.lb.lbid}}-{{service.serviceid}}" data-lbid="{{element.lb.lbid}}"
                              data-requestid="{{requestid}}" data-objectid="{{service.serviceid}}"
                              value="{{service.serviceport}}" disabled>
                            <select class="browser-default custom-select custom-select-sm data-edit"
                              id="slt-protocol-{{element.lb.lbid}}-{{service.serviceid}}"
                              data-lbid="{{element.lb.lbid}}" data-requestid="{{requestid}}"
                              data-objectid="{{service.serviceid}}" value="{{service.servicetype}}" disabled hidden>
                              <option {% if service.servicetype=='HTTP' %} selected {% endif %} value="HTTP">HTTP
                              </option>
                              <option {% if service.servicetype=='HTTPS' %} selected {% endif %} value="HTTPS">HTTPS
                              </option>
                              <option {% if service.servicetype=='TCP' %} selected {% endif %} value="TCP">TCP
                              </option>
                              <option {% if service.servicetype=='UDP' %} selected {% endif %} value="UDP">UDP
                              </option>
                            </select>
                            <div class="input-group-append data-edit">
                              <button
                                class="btn btn-sm btn-md btn-outline-default m-0 px-2 py-1 z-depth-0 waves-effect data-edit"
                                type="button"
                                id="btn-remove-serviceandprotocol-{{element.lb.lbid}}-{{service.serviceid}}"
                                data-lbid="{{element.lb.lbid}}" data-requestid="{{requestid}}"
                                data-objectid="{{service.serviceid}}"
                                onclick="RemoveObjectRow(this,objectType='serviceandprotocol',removedb=true)" disabled
                                hidden>
                                X
                              </button>
                            </div>
                          </div>
                          {% endfor %}

                        </div>
                        <!-- Button Add -->
                        <div class="d-grid">
                          <button class="btn btn-sm" type="button" id="btn-add-serviceandprotocol-{{element.lb.lbid}}"
                            data-lbid="{{element.lb.lbid}}" data-requestid="{{requestid}}"
                            data-objectid="{{element.lb.lbid}}"
                            onclick="AddObjectRow(this,objectType='serviceandprotocol')" disabled hidden>
                            Thêm
                          </button>
                        </div>
                      </td>
                      <!-- Service and protocol column -->
                      <!-- Description Column -->
                      <td>
                        <div class="input-group">
                          <span class="form-control form-control-sm data-view">{{element.lb.description}}</span>
                        </div>
                        <textarea class="form-control form-control-sm data-edit" placeholder="Mô tả"
                          id="description-{{element.lb.lbid}}" data-lbid="{{element.lb.lbid}}"
                          data-objectid="{{element.lb.lbid}}" data-requestid="{{requestid}}" disabled
                          hidden>{{element.lb.description}}</textarea>
                      </td>
                      <!-- Description Column -->
                      <!-- Functional Column -->
                      <td>
                        {%if approval_status is defined%}
                        {%if approval_status.code == 1 and approval_status.message is none %}
                        <div class="input-group">
                          <!-- button update -->
                          <button type="button"
                            class="btn btn-outline-primary btn-sm waves-effect waves-light data-edit mt-0"
                            id="btn-update-lb-{{element.lb.lbid}}" data-lbid="{{element.lb.lbid}}"
                            data-requestid="{{requestid}}" data-objectid="{{element.lb.lbid}}" onclick="UpdateLB(this)"
                            disabled hidden>
                            Lưu
                          </button>
                          <!-- button udpate -->
                          <!-- button edit -->
                          <button type="button"
                            class="btn btn-outline-warning btn-sm waves-effect waves-light data-view  mt-0"
                            id="btn-edit-lb-{{element.lb.lbid}}" data-lbid="{{element.lb.lbid}}"
                            data-requestid="{{requestid}}" data-objectid="{{element.lb.lbid}}" onclick="EditLB(this)">
                            Sửa
                          </button>
                          <!-- button edit -->
                          <!-- button save -->
                          <button type="button" class="btn btn-outline-primary btn-sm waves-effect waves-light  mt-0"
                            id="btn-save-lb-{{element.lb.lbid}}" data-lbid="{{element.lb.lbid}}"
                            data-requestid="{{requestid}}" data-objectid="{{element.lb.lbid}}" onclick="SaveLB(this)"
                            hidden disabled>
                            Lưu
                          </button>
                          <!-- button remove -->
                          <button type="button" class="btn btn-outline-danger btn-sm waves-effect waves-light  mt-0"
                            id="btn-remove-lb-{{element.lb.lbid}}" data-lbid="{{element.lb.lbid}}"
                            data-requestid="{{requestid}}" data-objectid="{{element.lb.lbid}}"
                            onclick="RemoveObjectRow(this,objectType='lb',removedb=true)">
                            Xóa
                          </button>
                        </div>
                        {%endif%}
                        {%endif%}
                      </td>
                      <!-- Functional Column -->
                    </tr>
                    {% endfor %}
                    {%endif%}
                    <!-- Trường hợp 1 -  đã có dữ liệu -->
                    <!-- Trường hợp 2 - không có dữ liệu - render form trắng -->
                    {%if case == 3 %}
                    <tr id="row-0">
                      <!-- Index Column -->
                      <td>
                        <span class="me-2 p-1" id="span-0">1</span>
                      </td>
                      <!-- Index Column -->
                      <!-- IP Citrix -->
                      <td>
                        <div class="input-group ">
                          <input type="text" class="form-control form-control-sm" placeholder="VIP" id="lb-0" required>
                        </div>
                      </td>
                      <!-- IP Citrix -->
                      <!-- Server column -->
                      <td>
                        <div id="server-array-0">
                          <div class="input-group  data-edit" id="input-group-server-0-0" data-lbid="0"
                            data-requestid="{{requestid}}" data-objectid="0">
                            <input type="text" class="form-control form-control-sm data-edit" placeholder="Tên máy chủ"
                              id="input-servername-0-0" data-lbid="0" data-requestid="{{requestid}}" data-objectid="0">
                            <input type="text" class="form-control form-control-sm data-edit" placeholder="Địa chỉ IP"
                              id="input-serverip-0-0" data-lbid="0" data-requestid="{{requestid}}" data-objectid="0">
                            <div class="input-group-append data-edit">
                              <button
                                class="btn btn-sm btn-md btn-outline-default m-0 px-2 py-1 z-depth-0 waves-effect data-edit"
                                type="button" id="btn-remove-server-0-0"
                                onclick="RemoveObjectRow(this,objectType='server',removedb=false)" data-lbid="0"
                                data-requestid="{{requestid}}" data-objectid="0">X
                              </button>
                            </div>
                          </div>
                        </div>
                        <!-- Add server -->
                        <div class="d-grid">
                          <button class="btn btn-sm" type="button" id="btn-add-server-0"
                            onclick="AddObjectRow(this,objectType='server')" data-lbid="0"
                            data-requestid="{{requestid}}">
                            Thêm
                          </button>
                        </div>
                      </td>
                      <!-- Server column -->
                      <!-- Service and protocol column -->
                      <td>
                        <div id="serviceandprotocol-array-0">
                          <div class="input-group  data-edit" id="input-group-serviceandprotocol-0-0" data-lbid="0"
                            data-requestid="{{requestid}}" data-objectid="0">
                            <input type="text" class="form-control form-control-sm data-edit" placeholder="Cổng"
                              id="input-port-0-0" data-lbid="0" data-requestid="{{requestid}}" data-objectid="0">
                            <select class="browser-default custom-select custom-select-sm data-edit"
                              id="slt-protocol-0-0" data-lbid="0" data-requestid="{{requestid}}" data-objectid="0">
                              <option selected>Giao thức</option>
                              <option value="HTTP">HTTP</option>
                              <option value="HTTPS">HTTPS</option>
                              <option value="TCP">TCP</option>
                              <option value="UDP">UDP</option>
                            </select>
                            <div class="input-group-append data-edit">
                              <button
                                class="btn btn-sm btn-md btn-outline-default m-0 px-2 py-1 z-depth-0 waves-effect data-edit"
                                type="button" id="btn-remove-serviceandprotocol-0-0"
                                onclick="RemoveObjectRow(this,objectType='serviceandprotocol',removedb=false)"
                                data-lbid="0" data-requestid="{{requestid}}" data-objectid="0">
                                X
                              </button>
                            </div>
                          </div>
                        </div>
                        <!-- Button Add -->
                        <div class="d-grid">
                          <button class="btn btn-sm" type="button" id="btn-add-serviceandprotocol-0"
                            onclick="AddObjectRow(this,objectType='serviceandprotocol')" data-lbid="0"
                            data-requestid="{{requestid}}" data-objectid="0">
                            Thêm
                          </button>
                        </div>
                      </td>
                      <!-- Service and protocol column -->
                      <!-- Description Column -->
                      <td>
                        <textarea class="form-control form-control-sm data-edit" placeholder="Mô tả"
                          id="description-0"></textarea>
                      </td>
                      <!-- Description Column -->
                      <!-- Functional Column -->
                      <td>
                        {%if approval_status is defined%}
                        {%if approval_status.code == 1 and approval_status.message is none %}
                        <div class="input-group">
                          <!-- button save -->
                          <button type="button" class="btn btn-outline-primary btn-sm waves-effect waves-light mt-0"
                            id="btn-save-lb-0" data-lbid="0" data-requestid="{{requestid}}" data-objectid="0"
                            onclick="SaveLB(this)">
                            Lưu
                          </button>
                          <!-- button remove -->
                          <button type="button" class="btn btn-outline-danger btn-sm waves-effect waves-light mt-0"
                            id="btn-remove-lb-0" data-lbid="0" data-requestid="{{requestid}}" data-objectid="0"
                            onclick="RemoveObjectRow(this,objectType='lb',removedb=false)">
                            Xóa
                          </button>
                        </div>
                        {%endif%}
                        {%endif%}
                      </td>
                      <!-- Functional Column -->
                    </tr>
                    {%endif%}
                    <!-- Trường hợp 2 - không có dữ liệu - render form trắng -->
                  </tbody>
                  <!-- Table body -->
                </table>
                <!-- Table -->
              </div>
              {%endif%}
              <!-- Card Content -->
            </div>
            <!-- Card Content -->
        </section>
        <!--Section: Citrix Request-->
      </div>
      <!-- Card -->
    </section>
    <!-- Section: Main panel -->
  </div>
</main>
<!-- Main layout -->

<!-- Central Modal Small -->
<div class="modal fade" id="md_submit_for_approval_{{requestid}}" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">

  <!-- Change class .modal-sm to change the size of the modal -->
  <div class="modal-dialog modal-xm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Submit for Approval</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning alert-dismissible fade show" role="alert" id="md_alert" hidden>
          <div id="md_alert_content"></div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Default form contact -->
        <label for="md-slt-approver-{{requestid}}">
          Chọn người phê duyệt
        </label>

        <select class="form-control form-control-sm mb-4" id="md-slt-approver-{{requestid}}"
          data-requestid="{{requestid}}">
          <optgroup label="Phòng Vận Hành">
            <option value="chaunt@cpc.vn">Nguyễn Thanh Châu</option>
            <option value="locn@cpc.vn">Nguyễn Lộc</option>
            <option value="dunghx@cpc.vn">Hoàng Xuân Dũng</option>
          </optgroup>
          <optgroup label="Phòng Phần Mềm">
            <option value="thongv@cpc.vn">Vương Thông</option>
            <option value="nhatnm@cpc.vn">Nguyễn Minh Nhật</option>
            <option value="binhns@cpc.vn">Nguyễn Sơn Bình</option>
            <option value="tuantk@cpc.vn">Trần Khắc Tuấn</option>
          </optgroup>
          <optgroup label="Phòng An Toàn Thông Tin">
            <option value="truongdx@cpc.vn">Đinh Xuân Trưởng</option>
          </optgroup>
          <optgroup label="Phòng Phát Triển Ứng Dụng">
            <option value="vantri@cpc.vn">Phan Văn Trí</option>
            <option value="thangltm@cpc.vn">Nguyễn Minh Thắng</option>
          </optgroup>
          <optgroup label="Phòng Kỹ thuật và Mạng viễn thông">
            <option value="tuanpa2@cpc.vn">Phan Anh Tuấn</option>
            <option value="tungttt@cpc.vn">Tôn Thất Thanh Tùng</option>
            <option value="dangdh@cpc.vn">Đoàn Hải Đăng</option>
            <option value="haitn@cpc.vn">Trương Ngọc Hải</option>
          </optgroup>
          <optgroup label="Ban Giám Đốc">
            <option value="binhns@cpc.vn">Nguyễn Sơn Bình</option>
            <option value="tuantk@cpc.vn">Trần Khắc Tuấn</option>
          </optgroup>
        </select>
        <!-- Message -->
        <div class="form-group">
          <textarea class="form-control rounded-0" id="md-textarea-message-{{requestid}}" data-requestid="{{requestid}}"
            rows="3" placeholder="Lời nhắn cho người phê duyệt"></textarea>
        </div>
        <!-- Default form contact -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary btn-sm" id="md-btn-submitforapproval-{{requestid}}"
          data-requestid="{{requestid}}" onclick="submit_for_approval(this)">Submit</button>
      </div>
    </div>
  </div>
</div>
<!-- Central Modal Small -->

{% endblock %}

{% block script %}
<!-- Template Script -->
<script>
  // SideNav Initialization
  $(".button-collapse").sideNav();

  var container = document.querySelector('.custom-scrollbar');
  var ps = new PerfectScrollbar(container, {
    wheelSpeed: 0.5,
    wheelPropagation: true,
    minScrollbarLength: 20
  });

  // Data Picker Initialization
  $('.datepicker').pickadate();

  // Material Select Initialization
  // $(document).ready(function () {
  //   $('.mdb-select').material_select();
  // });

  // Tooltips Initialization
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
  $(function () {
    $('#dark-mode').on('click', function (e) {

      e.preventDefault();
      $('h4, button').not('.check').toggleClass('dark-grey-text text-white');
      $('.list-panel a').toggleClass('dark-grey-text');

      $('footer, .card').toggleClass('dark-card-admin');
      $('body, .navbar').toggleClass('white-skin navy-blue-skin');
      $(this).toggleClass('white text-dark btn-outline-black');
      $('body').toggleClass('dark-bg-admin');
      $('h6, .card, p, td, th, i, li a, h4, input, label').not(
        '#slide-out i, #slide-out a, .dropdown-item i, .dropdown-item').toggleClass('text-white');
      $('.btn-dash').toggleClass('grey blue').toggleClass('lighten-3 darken-3');
      $('.gradient-card-header').toggleClass('white black lighten-4');
      $('.list-panel a').toggleClass('navy-blue-bg-a text-white').toggleClass('list-group-border');

    });
  });
</script>
<!-- Template Script -->
<!-- Custom Script -->
<!-- Modal Related Script -->
<script>
  function submit_for_approval(clicked) {
    let requestid = clicked.dataset.requestid
    let approver = $("#md-slt-approver-" + requestid).val();
    let message = $("#md-textarea-message-" + requestid).val();
    let postData = {
      email_id: approver,
      message: message
    };
    fetch("/servicedesk/citrix/" + requestid + "/submitforapproval", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(postData)
    })
      .then((response) => {
        return response.json()
      })
      .then((data) => {
        let result = data;
        if (result["code"] == 1) {
          location.reload();
        }
        else {
          message = null;
          if (result.error) { message = result.error }
          if (result.data) { message = result.data }
          document.getElementById("md_alert_content").innerText = message;
          document.getElementById("md__alert").removeAttribute("hidden", true)
        }
      })
      .catch(error => console.error(error));
  };
  function open_modal(clicked) {
    $('#md_submit_for_approval_{{requestid}}').modal('show')
  }
</script>
<!-- Modal Related Script -->
<!-- Script -->
<script>
  // Đánh số thứ tự các dòng trong bảng
  function SoThuTu() {
    let tbl_citrix_request = document.getElementById("tbl_citrix_request");
    if (tbl_citrix_request && tbl_citrix_request.rows.length > 0) {
      for (let index = 1; index < tbl_citrix_request.rows.length; index++) {
        let stt_cell = tbl_citrix_request.rows[index].cells.item(0);
        value = '<span class="me-2 p-1" id="span-' + index + '">' + index + '</span>';
        stt_cell.innerHTML = value;
      }
    }
  }
  document.addEventListener("DOMContentLoaded", () => {
    SoThuTu();
  });
  // Đánh số thứ tự các dòng trong bảng
  // Thêm form mới để nhập thông tin
  function AddForm() {
    let tbl_citrix_request = document.getElementById("tbl_citrix_request");
    let lbid = Math.random().toString(36).substring(2, 7);
    let requestid = document.getElementById("requestid").value
    let objectid = Math.random().toString(36).substring(2, 7);

    let newform = `
    <!-- Index Column -->
    <td>
      <span class="me-2 p-1" id="span-${lbid}">1</span>
    </td>
    <!-- Index Column -->
    <!-- IP Citrix -->
    <td>
      <div class="input-group ">
        <input type="text" class="form-control form-control-sm" placeholder="VIP" id="lb-${lbid}" required>
      </div>
    </td>
    <!-- IP Citrix -->
    <!-- Server column -->
    <td>
      <div id="server-array-${lbid}">
        <div class="input-group  data-edit" id="input-group-server-${lbid}-0" data-lbid="${lbid}"
          data-requestid="${requestid}" data-objectid="${objectid}">
          <input type="text" class="form-control form-control-sm data-edit" placeholder="Tên máy chủ"
            id="input-servername-${lbid}-${objectid}" data-lbid="${lbid}" data-requestid="${requestid}" data-objectid="${objectid}">
          <input type="text" class="form-control form-control-sm data-edit" placeholder="Địa chỉ IP"
            id="input-serverip-${lbid}-${objectid}" data-lbid="${lbid}" data-requestid="${requestid}" data-objectid="${objectid}">
          <div class="input-group-append data-edit">
            <button
              class="btn btn-sm btn-md btn-outline-default m-0 px-2 py-1 z-depth-0 waves-effect data-edit"
              type="button" id="btn-remove-server-${lbid}-${objectid}"
              onclick="RemoveObjectRow(this,objectType='server',removedb=false)" data-lbid="${lbid}"
              data-requestid="${requestid}" data-objectid="${objectid}">X
            </button>
          </div>
        </div>
      </div>
      <!-- Add server -->
      <div class="d-grid">
        <button class="btn btn-sm" type="button" id="btn-add-server-${lbid}"
          onclick="AddObjectRow(this,objectType='server')" data-lbid="${lbid}"
          data-requestid="${requestid}">
          Thêm
        </button>
      </div>
    </td>
    <!-- Server column -->
    <!-- Service and protocol column -->
    <td>
      <div id="serviceandprotocol-array-${lbid}">
        <div class="input-group  data-edit" id="input-group-serviceandprotocol-${lbid}-${objectid}"
          data-lbid="${lbid}" data-requestid="${requestid}" data-objectid="${objectid}">
          <input type="text" class="form-control form-control-sm data-edit" placeholder="Cổng"
            id="input-port-${lbid}-${objectid}" data-lbid="${lbid}" data-requestid="${requestid}"
            data-objectid="${objectid}">
          <select class="browser-default custom-select custom-select-sm data-edit"
            id="slt-protocol-${lbid}-${objectid}" data-lbid="${lbid}" data-requestid="${requestid}"
            data-objectid="${objectid}">
            <option selected>Giao thức</option>
            <option value="HTTP">HTTP</option>
            <option value="HTTPS">HTTPS</option>
            <option value="TCP">TCP</option>
            <option value="UDP">UDP</option>
          </select>
          <div class="input-group-append data-edit">
            <button
              class="btn btn-sm btn-md btn-outline-default m-0 px-2 py-1 z-depth-0 waves-effect data-edit"
              type="button" id="btn-remove-serviceandprotocol-${lbid}-${objectid}"
              onclick="RemoveObjectRow(this,objectType='serviceandprotocol',removedb=false)"
              data-lbid="${lbid}" data-requestid="${requestid}" data-objectid="${objectid}">
              X
            </button>
          </div>
        </div>
      </div>
      <!-- Button Add -->
      <div class="d-grid">
        <button class="btn btn-sm" type="button" id="btn-add-serviceandprotocol-${lbid}"
          onclick="AddObjectRow(this,objectType='serviceandprotocol')" data-lbid="${lbid}"
          data-requestid="${requestid}" data-objectid="${objectid}">
          Thêm
        </button>
      </div>
    </td>
    <!-- Service and protocol column -->
    <!-- Description Column -->
    <td>
      <textarea class="form-control form-control-sm data-edit" placeholder="Mô tả"
        id="description-${lbid}"></textarea>
    </td>
    <!-- Description Column -->
    <!-- Functional Column -->
    <td>
      <div class="input-group">
        <!-- button save -->
        <button type="button" class="btn btn-outline-primary btn-sm waves-effect waves-light mt-0" id="btn-save-lb-${lbid}" data-lbid="${lbid}"
          data-requestid="${requestid}" onclick="SaveLB(this)">
          Lưu
        </button>
        <!-- button remove -->
        <button type="button" class="btn btn-outline-danger btn-sm waves-effect waves-light mt-0" id="btn-remove-lb-${lbid}" data-lbid="${lbid}"
          data-requestid="${requestid}"
          onclick="RemoveObjectRow(this,objectType='lb',removedb=false)">
          Xóa
        </button>
      </div>
    </td>
    <!-- Functional Column -->
    `;
    let newrow = tbl_citrix_request.insertRow(tbl_citrix_request.rows.length);
    newrow.innerHTML = newform;
    SoThuTu();

  }
  // Thêm form mới để nhập thông tin
  // Thêm input cho các chột ip nguồn, ip đích, cổng
  function AddObjectRow(clicked, objectType) {
    let lbid = clicked.dataset.lbid;
    let requestid = clicked.dataset.requestid
    let objectarray = document.getElementById(objectType + '-array-' + lbid);
    // let objectid = objectarray.childElementCount;
    let objectid = Math.random().toString(36).substring(2, 7);
    objectHTML = null
    if (objectType == "server") {
      let objectHtml = `
        <div class="input-group  data-edit" id="input-group-${objectType}-${lbid}-${objectid}" data-lbid="${lbid}" data-requestid="${requestid}" data-objectid="${objectid}">
          <input type="text"  class="form-control form-control-sm data-edit" placeholder="Tên máy chủ" id="input-servername-${lbid}-${objectid}" data-lbid="${lbid}" data-requestid="${requestid}" data-objectid="${objectid}">
          <input type="text"  class="form-control form-control-sm data-edit" placeholder="Địa chỉ IP" id="input-serverip-${lbid}-${objectid}" data-lbid="${lbid}" data-requestid="${requestid}" data-objectid="${objectid}">
          <div class="input-group-append data-edit">
            <button class="btn btn-sm btn-md btn-outline-default m-0 px-2 py-1 z-depth-0 waves-effect data-edit" type="button" id="btn-remove-${objectType}-${lbid}-${objectid}" onclick="RemoveObjectRow(this,'${objectType}',removedb=false)" data-lbid="${lbid}" data-requestid="${requestid}" data-objectid="${objectid}">
                X
            </button>
          </div>
        </div>
          `;
      $("#" + objectType + "-array-" + lbid).append(objectHtml);

      // objectarray.insertAdjacentHTML('beforeend', objectHtml);
    };
    if (objectType == "serviceandprotocol") {
      let objectHtml = `
        <div class="input-group  data-edit" id="input-group-${objectType}-${lbid}-${objectid}" data-lbid="${lbid}" data-requestid="${requestid}" data-objectid="${objectid}">
          <input type="text"  class="form-control form-control-sm data-edit"
            placeholder="Cổng" id="input-port-${lbid}-${objectid}" data-lbid="${lbid}" data-requestid="${requestid}" data-objectid="${objectid}">
          <select class="browser-default custom-select custom-select-sm data-edit" id="slt-protocol-${lbid}-${objectid}" data-lbid="${lbid}" data-requestid="${requestid}" data-objectid="${objectid}">
            <option selected>Giao thức</option>
            <option value="1">HTTP</option>
            <option value="2">HTTPS</option>
            <option value="3">TCP</option>
            <option value="4">UDP</option>
          </select>
          <div class="input-group-append data-edit">
            <button
              class="btn btn-sm btn-md btn-outline-default m-0 px-2 py-1 z-depth-0 waves-effect data-edit"
              type="button" id="btn-remove-${lbid}-${objectid}"
              onclick="RemoveObjectRow(this,objectType='${objectType}',removedb=false)" data-lbid="${lbid}" data-requestid="${requestid}" data-objectid="${objectid}">
              X
            </button>
          </div>
        </div>`;
      $("#" + objectType + "-array-" + lbid).append(objectHtml);
      // objectarray.insertAdjacentHTML('beforeend', objectHtml);

    }
  }
  // Thêm input cho các cột ip nguồn, ip đích, cổng
  // Xóa một dòng
  function Delete_Table_Row(table_id, row_number) {
    document.getElementById(table_id).deleteRow(row_number);
  }
  // Xóa một dòng
  // Xóa một đối tượng địa chỉ nguồn, địa chỉ đích hoặc cổng
  function RemoveObjectRow(clicked, objectType, removedb = false) {
    let requestid = clicked.dataset.requestid
    let lbid = clicked.dataset.lbid;
    let objectid = clicked.dataset.objectid;
    // Xóa một đối tượng
    if (objectType != "lb") {
      const postData = {
        type: objectType,
        lbid: lbid,
        objectid: objectid
      };
      if (removedb == true) {
        fetch("/servicedesk/citrix/" + requestid, {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(postData)
        })
          .then((response) => {
            return response.json()
          })
          .then((data) => {
            let result = data;
            if (result["code"] == 1) {
              location.reload();
            }
            else {
              message = null;
              if (result.error) { message = result.error }
              if (result.data) { message = result.data }
              document.getElementById("alert_content").innerText = message;
              document.getElementById("tbl_alert").removeAttribute("hidden", true)
            }
          })
          .catch(error => console.error(error));
      }
      else {
        $("#input-group-" + objectType + "-" + lbid + "-" + objectid).remove();
      }
    }
    // Xóa một rule
    if (objectType == 'lb') {
      // let idprefix = "btn-remove-lb-";
      // objectrow = clicked.substring(idprefix.length);

      const postData = {
        type: "lb",
        lbid: clicked.dataset.lbid
      };
      if (removedb == true) {
        fetch("/servicedesk/citrix/" + requestid, {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(postData)
        })
          .then((response) => {
            return response.json()
          })
          .then(result => {
            if (result["code"] == 1) {
              location.reload();
            }
            else {
              message = null;
              if (result.error) { message = result.error }
              if (result.data) { message = result.data }
              document.getElementById("alert_content").innerText = message;
              document.getElementById("tbl_alert").removeAttribute("hidden", true)
            }
          })
          .catch(error => console.error(error));
      }
      else {
        let btn = document.getElementById(clicked.id);
        let tr = btn.parentNode.parentNode;
        Delete_Table_Row("tbl_citrix_request", tr.rowIndex);
        SoThuTu();
      }
    }
  }
  // Xóa một đối tượng địa chỉ nguồn, địa chỉ đích hoặc cổng
  // Submit form khi tạo rule mới
  function SaveLB(clicked) {
    let requestid = clicked.dataset.requestid;
    let lbid = clicked.dataset.lbid;
    let vip = $("#lb-" + lbid).val();
    let description = $("#description-" + lbid).val();
    let servers = []
    let services = []
    $("#server-array-" + lbid).children(".data-edit").each(function () {
      let object_id = $(this).data("objectid");
      // console.log(object_id);
      let servername = $("#input-servername-" + lbid + "-" + object_id).val();
      let serverip = $("#input-serverip-" + lbid + "-" + object_id).val();
      servers.push({
        servername: servername,
        serverip: serverip
      });
    });
    $("#serviceandprotocol-array-" + lbid).children(".data-edit").each(function () {
      let object_id = $(this).data("objectid")
      let port = $("#input-port-" + lbid + "-" + object_id).val();
      let protocol = $("#slt-protocol-" + lbid + "-" + object_id).val();
      services.push({
        port: parseInt(port),
        protocol: protocol
      });
    });
    postData = {
      vip: vip,
      servers: servers,
      services: services,
      description: description
    }
    fetch("/servicedesk/citrix/" + requestid, {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(postData)
    })
      .then(response => {
        return response.json()
      })
      .then(result => {
        if (result["code"] == 1) {
          location.reload();
        }
        else {
          message = null;
          if (result.error) { message = result.error }
          if (result.data) { message = result.data }
          document.getElementById("alert_content").innerText = message;
          document.getElementById("tbl_alert").removeAttribute("hidden", true)
        }
      })
      .catch(error => console.error(error));
  }
  // Submit form khi tạo rule mới


  // Hàm chạy khi click nút sửa
  function EditLB(clicked) {
    // ẩn và hiện các trường thông tin
    let btn_edit = clicked;
    $("#row-" + btn_edit.dataset.lbid + " td").each(function () {
      $(this).find(".data-view").each(function () {
        $(this).hide();
      });
      $(this).find(".data-edit").each(function () {
        $(this).attr({
          "disabled": false,
          "hidden": false
        });
      })
    })
    // ẩn và hiện các trường thông tin

  }
  // Hàm chạy khi click nút sửa
  // Hàm chạy khi click nút cập nhật
  function UpdateLB(clicked) {
    // ẩn và hiện các trường thông tin
    let btn_clicked = clicked;
    let requestid = btn_clicked.dataset.requestid
    // Lấy dữ liệu từ các trường và chạy fetch
    let lbid = btn_clicked.dataset.lbid;
    let vip = $("#lb-" + lbid).val();
    let description = $("#description-" + lbid).val();
    let servers = []
    let services = []
    $("#server-array-" + lbid).children(".data-edit").each(function () {
      let object_id = $(this).data("objectid")
      let servername = $("#input-servername-" + lbid + "-" + object_id).val();
      let serverip = $("#input-serverip-" + lbid + "-" + object_id).val();
      servers.push({
        serverid: parseInt(object_id),
        servername: servername,
        serverip: serverip
      });
    });
    $("#serviceandprotocol-array-" + lbid).children(".data-edit").each(function () {
      // console.log($(this))
      let object_id = $(this).data("objectid")
      let port = $("#input-port-" + lbid + "-" + object_id).val();
      let protocol = $("#slt-protocol-" + lbid + "-" + object_id).val();
      services.push({
        serviceid: parseInt(object_id),
        port: parseInt(port),
        protocol: protocol
      });
    });

    postData = {
      vip: vip,
      lbid: parseInt(lbid),
      servers: servers,
      services: services,
      description: description
    }
    // Goi fetch data
    fetch("/servicedesk/citrix/" + requestid, {
      method: "PUT",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(postData)
    })
      .then((response) => {
        return response.json()
      })
      .then(result => {
        if (result["code"] == 1) {
          location.reload();
        }
        else {
          message = null;
          if (result.error) { message = result.error }
          if (result.data) { message = result.data }
          document.getElementById("alert_content").innerText = message;
          document.getElementById("tbl_alert").removeAttribute("hidden", true)
        }
      })
      .catch(error => console.error(error));
  }

</script>
<!-- Script -->
<!-- Custom Script -->


{% endblock %}