{% extends 'mdb/base_mdb.html' %}
{% block title %}
<title>Yêu cầu mở cân bằng tải ứng dụng</title>
{% endblock %}

{% block sidebar_navigation_link %}
<!-- Side navigation links -->
<li>
  <ul class="collapsible collapsible-accordion" id="sidebar_body">
    <li>
      <!-- <a class="collapsible-header waves-effect"
        href="#"
        id="#" name="#">
      </a> -->
    </li>
  </ul>
</li>
<!-- Side navigation links -->
{% endblock %}

{%block page_body_title%}Yêu cầu mở cân bằng tải ứng dụng{%endblock%}

{% block dataview %}
<!-- Main layout -->
<main class="ml-4 mr-4">
  <div class="container-fluid">
    <!-- Section: Main panel -->
    <section class="mb-5">
      <!-- Card -->
      <div class="card card-cascade narrower">
        <!-- Section: Citrix Request -->
        <section>
          <div class="card card-cascade narrower z-depth-0">
            <!-- Card Header -->
            <div
              class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
              <a href="" class="white-text mx-3">Form nhập thông tin cấu hình cân bằng tải</a>
              <div>
                {%if case != 1 and case != 2 %}
                {%if approval_status is defined%}
                {%if approval_status.code == 1 and approval_status.message is none %}
                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"
                  id="btn-open-modal-{{requestid}}" data-requestid="{{requestid}}" onclick="open_modal(this)">Gửi phê
                  duyệt</button>
                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" onclick="AddForm()">Thêm Cấu
                  Hình</button>
                {% endif %}
                {% endif %}
                {% endif %}
              </div>
            </div>
            <!-- Card Header -->
            <!-- Card Content -->
            <div class="px-4">
              <input type="hidden" name="requestid" id="requestid" value="{{requestid}}">
              <div class="alert alert-warning alert-dismissible fade show" role="alert" id="tbl_alert" hidden>
                <div id="alert_content"></div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="d-flex p-2 justify-content-end">
                <!-- Hiển thị lỗi dữ liệu không hợp lệ -->
                {%if case == 1 or case == 2 %}
                <div class="alert alert-warning" role="alert">
                  {{data.data}}
                </div>
                {%endif%}
                <!-- Hiển thị lỗi dữ liệu không hợp lệ -->
                <!-- Trường hợp 1 - có sẵn dữ liệu -->
                {%if case != 1 and case != 2 %}
                {% if approval_status is defined %}
                <div class="py-1 px-2">
                  Trạng thái phê duyệt:
                </div>
                {% if approval_status.code == 1 %}
                <!-- reject -->
                {% if approval_status.message.id == "3" %}
                <div class=" px-2 py-1 danger-color text-white rounded">
                  {{approval_status.message.name}}
                </div>
                <!-- approved -->
                {% elif approval_status.message.id == "2" %}
                <div class=" px-2 py-1 success-color text-white rounded">
                  {{approval_status.message.name}}
                </div>
                <!-- pending approval -->
                {% elif approval_status.message.id == "1" %}
                <div class=" px-2 py-1 info-color text-white rounded">
                  {{approval_status.message.name}}
                </div>
                <!-- not yet submit for approval -->
                {% else%}
                <div class=" px-2 py-1 rounded">
                  Chưa tạo phê duyệt
                </div>
                {% endif %}
                {%else%}
                <div class="border border-black">
                  {{approval_status.message}}
                </div>
                {% endif %}
                {% endif %}
              </div>

              <div class="table-responsive">
                <!--Table-->
                <table class="table table-hover mb-0" id="tbl_citrix_request">
                  <!-- Table head -->
                  <thead>
                    <tr>
                      <th style="width: 5rem;"><a>STT <i class="fas fa-sort ml-1"></i></a></th>
                      <th>Địa chỉ IP cân bằng tải</th>
                      <th>Thông tin máy chủ</th>
                      <th>Cổng cân bằng tải</th>
                      <th>Mô tả</th>
                      <th style="width: 15rem;">Thao tác</th>
                    </tr>
                  </thead>
                  <!-- Table head -->
                  <!-- Table body -->
                  <tbody id="tbl_body">
                    <!-- Trường hợp 1 -  đã có dữ liệu -->
                    {%if case == 4 %}
                    {% for element in data.data %}
                    <tr id="row-{{element.lb.lbid}}">
                      <!-- Index Column -->
                      <td>
                        <span class="me-2 p-1" id="span-{{element.lb.lbid}}" data-lbid="{{element.lb.lbid}}"
                          data-requestid="{{requestid}}">1</span>
                      </td>
                      <!-- Index Column -->
                      <!-- IP Citrix -->
                      <td>
                        <div class="input-group">
                          <span class="data-view" id="span-lb-{{element.lb.lbid}}">{{element.lb.vip}}</span>
                          <input type="text" class="form-control form-control-sm data-edit" placeholder="VIP"
                            id="lb-{{element.lb.lbid}}" data-lbid="{{element.lb.lbid}}" data-requestid="{{requestid}}"
                            data-objectid="{{element.lb.lbid}}" value="{{element.lb.vip}}" required disabled hidden>
                        </div>
                      </td>
                      <!-- IP Citrix -->
                      <!-- Server column -->
                      <td>
                        <div id="server-array-{{element.lb.lbid}}">
                          {% for server in element.servers %}
                          <div class="input-group data-view">
                            <span class="pr-1">{{server.servername}}</span>/<span
                              class="pl-1">{{server.serveripaddress}}</span>
                          </div>
                          <div class="input-group data-edit"
                            id="input-group-server-{{element.lb.lbid}}-{{server.serverid}}"
                            data-lbid="{{element.lb.lbid}}" data-requestid="{{requestid}}"
                            data-objectid="{{server.serverid}}" hidden>
                            <input type="text" class="form-control form-control-sm data-edit" placeholder="Tên máy chủ"
                              id="input-servername-{{element.lb.lbid}}-{{server.serverid}}"
                              data-lbid="{{element.lb.lbid}}" data-requestid="{{requestid}}"
                              data-objectid="{{server.serverid}}" value="{{server.servername}}" disabled hidden>
                            <input type="text" class="form-control form-control-sm data-edit" placeholder="Địa chỉ IP"
                              id="input-serverip-{{element.lb.lbid}}-{{server.serverid}}"
                              data-lbid="{{element.lb.lbid}}" data-requestid="{{requestid}}"
                              data-objectid="{{server.serverid}}" value="{{server.serveripaddress}}" disabled hidden>
                            <div class="input-group-append data-edit" hidden>
                              <button
                                class="btn btn-sm btn-md btn-outline-default m-0 px-2 py-1 z-depth-0 waves-effect data-edit"
                                type="button" id="btn-remove-server-{{element.lb.lbid}}-{{server.serverid}}"
                                data-lbid="{{element.lb.lbid}}" data-requestid="{{requestid}}"
                                data-objectid="{{server.serverid}}"
                                onclick="RemoveObjectRow(this,objectType='server',removedb=true)" disabled hidden>X
                              </button>
                            </div>
                          </div>
                          {% endfor %}

                        </div>
                        <!-- Add server -->
                        <div class="d-grid">
                          <button class="btn btn-sm" type="button" id="btn-add-server-{{element.lb.lbid}}"
                            data-lbid="{{element.lb.lbid}}" data-requestid="{{requestid}}"
                            data-objectid="{{element.lb.lbid}}" onclick="AddObjectRow(this,objectType='server')"
                            disabled hidden>
                            Thêm
                          </button>
                        </div>
                      </td>
                      <!-- Server column -->
                      <!-- Service and protocol column -->
                      <td>
                        <div id="serviceandprotocol-array-{{element.lb.lbid}}">
                          {% for service in element.services %}
                          <div class="input-group data-view">
                            <span class="pr-1">{{service.serviceport}}</span>/<span
                              class="pl-1">{{service.servicetype}}</span>
                          </div>
                          <div class="input-group data-edit"
                            id="input-group-serviceandprotocol-{{element.lb.lbid}}-{{service.serviceid}}"
                            data-lbid="{{element.lb.lbid}}" data-requestid="{{requestid}}"
                            data-objectid="{{service.serviceid}}" hidden>
                            <input type="text" class="form-control form-control-sm data-edit" placeholder="Cổng"
                              id="input-port-{{element.lb.lbid}}-{{service.serviceid}}" data-lbid="{{element.lb.lbid}}"
                              data-requestid="{{requestid}}" data-objectid="{{service.serviceid}}"
                              value="{{service.serviceport}}" disabled>
                            <select class="browser-default custom-select custom-select-sm data-edit"
                              id="slt-protocol-{{element.lb.lbid}}-{{service.serviceid}}"
                              data-lbid="{{element.lb.lbid}}" data-requestid="{{requestid}}"
                              data-objectid="{{service.serviceid}}" value="{{service.servicetype}}" disabled hidden>
                              <option {% if service.servicetype=='HTTP' %} selected {% endif %} value="HTTP">HTTP
                              </option>
                              <option {% if service.servicetype=='HTTPS' %} selected {% endif %} value="HTTPS">HTTPS
                              </option>
                              <option {% if service.servicetype=='TCP' %} selected {% endif %} value="TCP">TCP
                              </option>
                              <option {% if service.servicetype=='UDP' %} selected {% endif %} value="UDP">UDP
                              </option>
                            </select>
                            <div class="input-group-append data-edit">
                              <button
                                class="btn btn-sm btn-md btn-outline-default m-0 px-2 py-1 z-depth-0 waves-effect data-edit"
                                type="button"
                                id="btn-remove-serviceandprotocol-{{element.lb.lbid}}-{{service.serviceid}}"
                                data-lbid="{{element.lb.lbid}}" data-requestid="{{requestid}}"
                                data-objectid="{{service.serviceid}}"
                                onclick="RemoveObjectRow(this,objectType='serviceandprotocol',removedb=true)" disabled
                                hidden>
                                X
                              </button>
                            </div>
                          </div>
                          {% endfor %}

                        </div>
                        <!-- Button Add -->
                        <div class="d-grid">
                          <button class="btn btn-sm" type="button" id="btn-add-serviceandprotocol-{{element.lb.lbid}}"
                            data-lbid="{{element.lb.lbid}}" data-requestid="{{requestid}}"
                            data-objectid="{{element.lb.lbid}}"
                            onclick="AddObjectRow(this,objectType='serviceandprotocol')" disabled hidden>
                            Thêm
                          </button>
                        </div>
                      </td>
                      <!-- Service and protocol column -->
                      <!-- Description Column -->
                      <td>
                        <div class="input-group data-view">
                          <span>{{element.lb.description}}</span>
                        </div>
                        <textarea class="form-control form-control-sm data-edit" placeholder="Mô tả"
                          id="description-{{element.lb.lbid}}" data-lbid="{{element.lb.lbid}}"
                          data-objectid="{{element.lb.lbid}}" data-requestid="{{requestid}}" disabled
                          hidden>{{element.lb.description}}</textarea>
                      </td>
                      <!-- Description Column -->
                      <!-- Functional Column -->
                      <td>
                        {%if approval_status is defined%}
                        {%if approval_status.code == 1 and approval_status.message is none %}
                        <div class="input-group">
                          <!-- button update -->
                          <button type="button"
                            class="btn btn-outline-primary btn-sm waves-effect waves-light mt-0 data-edit"
                            id="btn-update-lb-{{element.lb.lbid}}" data-lbid="{{element.lb.lbid}}"
                            data-requestid="{{requestid}}" data-objectid="{{element.lb.lbid}}" onclick="UpdateLB(this)"
                            disabled hidden>
                            Lưu
                          </button>
                          <!-- button udpate -->
                          <!-- button edit -->
                          <button type="button"
                            class="btn btn-outline-warning btn-sm waves-effect waves-light mt-0 data-view"
                            id="btn-edit-lb-{{element.lb.lbid}}" data-lbid="{{element.lb.lbid}}"
                            data-requestid="{{requestid}}" data-objectid="{{element.lb.lbid}}" onclick="EditLB(this)">
                            Sửa
                          </button>
                          <!-- button edit -->
                          <!-- button save -->
                          <button type="button" class="btn btn-outline-primary btn-sm waves-effect waves-light mt-0"
                            id="btn-save-lb-{{element.lb.lbid}}" data-lbid="{{element.lb.lbid}}"
                            data-requestid="{{requestid}}" data-objectid="{{element.lb.lbid}}" onclick="SaveLB(this)"
                            hidden disabled>
                            Lưu
                          </button>
                          <!-- button remove -->
                          <button type="button" class="btn btn-outline-danger btn-sm waves-effect waves-light mt-0"
                            id="btn-remove-lb-{{element.lb.lbid}}" data-lbid="{{element.lb.lbid}}"
                            data-requestid="{{requestid}}" data-objectid="{{element.lb.lbid}}"
                            onclick="RemoveObjectRow(this,objectType='lb',removedb=true)">
                            Xóa
                          </button>
                        </div>
                        {%endif%}
                        {%endif%}
                      </td>
                      <!-- Functional Column -->
                    </tr>
                    {% endfor %}
                    {%endif%}
                    <!-- Trường hợp 1 -  đã có dữ liệu -->
                    <!-- Trường hợp 2 - không có dữ liệu - render form trắng -->
                    {%if case == 3 %}
                    {%if approval_status is defined%}
                    {%if approval_status.code == 1 and approval_status.message is none %}
                    <tr id="row-0">
                      <!-- Index Column -->
                      <td>
                        <span class="me-2 p-1" id="span-0">1</span>
                      </td>
                      <!-- Index Column -->
                      <!-- IP Citrix -->
                      <td>
                        <div class="input-group ">
                          <input type="text" class="form-control form-control-sm" placeholder="VIP" id="lb-0" required>
                        </div>
                      </td>
                      <!-- IP Citrix -->
                      <!-- Server column -->
                      <td>
                        <div id="server-array-0">
                          <div class="input-group  data-edit" id="input-group-server-0-0" data-lbid="0"
                            data-requestid="{{requestid}}" data-objectid="0">
                            <input type="text" class="form-control form-control-sm data-edit" placeholder="Tên máy chủ"
                              id="input-servername-0-0" data-lbid="0" data-requestid="{{requestid}}" data-objectid="0">
                            <input type="text" class="form-control form-control-sm data-edit" placeholder="Địa chỉ IP"
                              id="input-serverip-0-0" data-lbid="0" data-requestid="{{requestid}}" data-objectid="0">
                            <div class="input-group-append data-edit">
                              <button
                                class="btn btn-sm btn-md btn-outline-default m-0 px-2 py-1 z-depth-0 waves-effect data-edit"
                                type="button" id="btn-remove-server-0-0"
                                onclick="RemoveObjectRow(this,objectType='server',removedb=false)" data-lbid="0"
                                data-requestid="{{requestid}}" data-objectid="0">X
                              </button>
                            </div>
                          </div>
                        </div>
                        <!-- Add server -->
                        <div class="d-grid">
                          <button class="btn btn-sm" type="button" id="btn-add-server-0"
                            onclick="AddObjectRow(this,objectType='server')" data-lbid="0"
                            data-requestid="{{requestid}}">
                            Thêm
                          </button>
                        </div>
                      </td>
                      <!-- Server column -->
                      <!-- Service and protocol column -->
                      <td>
                        <div id="serviceandprotocol-array-0">
                          <div class="input-group  data-edit" id="input-group-serviceandprotocol-0-0" data-lbid="0"
                            data-requestid="{{requestid}}" data-objectid="0">
                            <input type="text" class="form-control form-control-sm data-edit" placeholder="Cổng"
                              id="input-port-0-0" data-lbid="0" data-requestid="{{requestid}}" data-objectid="0">
                            <select class="browser-default custom-select custom-select-sm data-edit"
                              id="slt-protocol-0-0" data-lbid="0" data-requestid="{{requestid}}" data-objectid="0">
                              <option selected>Giao thức</option>
                              <option value="HTTP">HTTP</option>
                              <option value="HTTPS">HTTPS</option>
                              <option value="TCP">TCP</option>
                              <option value="UDP">UDP</option>
                            </select>
                            <div class="input-group-append data-edit">
                              <button
                                class="btn btn-sm btn-md btn-outline-default m-0 px-2 py-1 z-depth-0 waves-effect data-edit"
                                type="button" id="btn-remove-serviceandprotocol-0-0"
                                onclick="RemoveObjectRow(this,objectType='serviceandprotocol',removedb=false)"
                                data-lbid="0" data-requestid="{{requestid}}" data-objectid="0">
                                X
                              </button>
                            </div>
                          </div>
                        </div>
                        <!-- Button Add -->
                        <div class="d-grid">
                          <button class="btn btn-sm" type="button" id="btn-add-serviceandprotocol-0"
                            onclick="AddObjectRow(this,objectType='serviceandprotocol')" data-lbid="0"
                            data-requestid="{{requestid}}" data-objectid="0">
                            Thêm
                          </button>
                        </div>
                      </td>
                      <!-- Service and protocol column -->
                      <!-- Description Column -->
                      <td>
                        <textarea class="form-control form-control-sm data-edit" placeholder="Mô tả"
                          id="description-0"></textarea>
                      </td>
                      <!-- Description Column -->
                      <!-- Functional Column -->
                      <td>
                        {%if approval_status is defined%}
                        {%if approval_status.code == 1 and approval_status.message is none %}
                        <div class="input-group">
                          <!-- button save -->
                          <button type="button" class="btn btn-outline-primary btn-sm waves-effect waves-light mt-0"
                            id="btn-save-lb-0" data-lbid="0" data-requestid="{{requestid}}" data-objectid="0"
                            onclick="SaveLB(this)">
                            Lưu
                          </button>
                          <!-- button remove -->
                          <button type="button" class="btn btn-outline-danger btn-sm waves-effect waves-light mt-0"
                            id="btn-remove-lb-0" data-lbid="0" data-requestid="{{requestid}}" data-objectid="0"
                            onclick="RemoveObjectRow(this,objectType='lb',removedb=false)">
                            Xóa
                          </button>
                        </div>
                        {%endif%}
                        {%endif%}
                      </td>
                      <!-- Functional Column -->
                    </tr>
                    {%endif%}
                    {%endif%}
                    {%endif%}
                    <!-- Trường hợp 2 - không có dữ liệu - render form trắng -->
                  </tbody>
                  <!-- Table body -->
                </table>
                <!-- Table -->
              </div>
              {%endif%}
              <!-- Card Content -->
            </div>
            <!-- Card Content -->
        </section>
        <!--Section: Citrix Request-->
      </div>
      <!-- Card -->
    </section>
    <!-- Section: Main panel -->
  </div>
</main>
<!-- Main layout -->

<!-- Central Modal Small -->
<div class="modal fade" id="md_submit_for_approval_{{requestid}}" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">

  <!-- Change class .modal-sm to change the size of the modal -->
  <div class="modal-dialog modal-xm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Submit for Approval</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning alert-dismissible fade show" role="alert" id="md_alert" hidden>
          <div id="md_alert_content"></div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Default form contact -->
        <label for="md-slt-approver-{{requestid}}">
          Chọn người phê duyệt
        </label>

        <select class="form-control form-control-sm mb-4" id="md-slt-approver-{{requestid}}"
          data-requestid="{{requestid}}">
          <optgroup label="Phòng Vận Hành">
            <option value="chaunt@cpc.vn">Nguyễn Thanh Châu</option>
            <option value="dunghx@cpc.vn">Hoàng Xuân Dũng</option>
            <option value="locn@cpc.vn">Nguyễn Lộc</option>
          </optgroup>
          <optgroup label="Phòng Phần Mềm">
            <option value="thongv@cpc.vn">Vương Thông</option>
            <option value="nhatnm@cpc.vn">Nguyễn Minh Nhật</option>
          </optgroup>
          <optgroup label="Phòng An Toàn Thông Tin">
            <option value="truongdx@cpc.vn">Đinh Xuân Trưởng</option>
          </optgroup>
          <optgroup label="Phòng Phát Triển Ứng Dụng">
            <option value="vantri@cpc.vn">Phan Văn Trí</option>
            <option value="thangltm@cpc.vn">Nguyễn Minh Thắng</option>
          </optgroup>
          <optgroup label="Phòng Kỹ thuật và Mạng viễn thông">
            <!-- <option value="tuanpa2@cpc.vn">Phan Anh Tuấn</option> -->
            <option value="tungttt@cpc.vn">Tôn Thất Thanh Tùng</option>
            <option value="dangdh@cpc.vn">Đoàn Hải Đăng</option>
            <option value="haitn@cpc.vn">Trương Ngọc Hải</option>
          </optgroup>
          <optgroup label="Ban Giám Đốc">
            <option value="tuantk@cpc.vn">Trần Khắc Tuấn</option>
            <option value="binhns@cpc.vn">Nguyễn Sơn Bình</option>
          </optgroup>
        </select>
        <!-- Message -->
        <div class="form-group">
          <textarea class="form-control rounded-0" id="md-textarea-message-{{requestid}}" data-requestid="{{requestid}}"
            rows="3" placeholder="Lời nhắn cho người phê duyệt"></textarea>
        </div>
        <!-- Default form contact -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary btn-sm" id="md-btn-submitforapproval-{{requestid}}"
          data-requestid="{{requestid}}" onclick="submit_for_approval(this)">Submit</button>
      </div>
    </div>
  </div>
</div>
<!-- Central Modal Small -->

{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename = 'js/servicedesk_citrix.js')}}"></script>
{% endblock %}